{% extends "FOSUserBundle::layout.html.twig" %}

{% block breadcrumbs %} 
<ul class="breadcrumb">
    <li>{{ 'italica.you.are.here'|trans({}, 'messages') }}: </li>
    <li><a href="/">{{ 'italica.home'|trans }}</a> </li>
    <li><a href="{{ path("fos_user_security_login") }}">{{ 'italica.login'|trans }}</a> </li>
</ul>
{% endblock %}

{% block fos_user_content %}
<div class="col-lg-6">
    <form class="form-horizontal" method="post" action="{{ path("fos_user_security_check") }}" >
  <fieldset>
    <h4 class="title"><span class="text">{{ 'italica.login'|trans({}, 'messages') }}</span></h4>
    {% if error %}
      <div class="alert alert-danger">
              <a class="close" data-dismiss="alert" href="#">×</a>
              {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
    {% endif %}
    <div class="form-group">            
      <label for="username" class="col-lg-2 control-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
      <div class="col-lg-10">
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
      </div>
    </div>
     
    <div class="form-group">
      <label for="password" class="col-lg-2 control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
      <div class="col-lg-10">
        <input class="form-control" type="password" id="password" name="_password" />
        <div class="checkbox">
           
          <label for="remeber_me"></label>
          <input type="checkbox" id="remember_me" name="_remember_me" checked /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
          
        </div>
      </div>
    </div>
   
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <input type="hidden" name="_target_path" value="{{targetPath|default('')}}"/>
        <button type="submit" class="btn btn-default btn-sm">{{ 'italica.login'|trans() }}</button>
      </div>
    </div>
  </fieldset>
</form>
    </div>
<div class="col-lg-6">
    <div class="panel panel-custom">
    <div class="panel-body">
    <h4 class="title"><span class="text">{{ 'italica.forgot.password'|trans({}, 'messages') }}</span></h4>
    <p>{{ 'italica.forgot.password.link'|trans({}, 'messages') }}</p>
    <p><a class="btn btn-default btn-sm" href="{{ path('fos_user_resetting_request') }}">{{ 'Forgotten Password'|trans({}, 'FOSUserBundle') }}</a></p>
    </div>
    </div>
    <div class="panel panel-custom">
    <div class="panel-body">
        <h4 class="title"><span class="text">{{ 'italica.new.customer'|trans({}, 'messages') }}</span></h4>
    <p>{{ 'italica.new.customer.experience'|trans({}, 'messages') }}</p>
    <p>
    <a class="btn btn-default btn-sm" href="{{ path('fos_user_registration_register') }}">{{ 'italica.create.account'|trans({}, 'messages') }}</a>
    </p>
    </div>
    </div>
</div>
{% endblock %}
