{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Product:macros.html.twig' import list %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('app_site_product_group_list') }}">{{ 'sylius.breadcrumb.product.group.index'|trans }}</a></li>
    <li>{{ group.name|trans|raw  }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.edit(path('app_site_product_group_edit', {'id': group.id})) }}
    </div>
    <h1><i class="glyphicon glyphicon-th-list"></i> {{ group.name |trans|raw }}</h1>
</div>
<div>
    <h3>Add product by product id</h3>
    <form action="" method="POST" enctype="multipart/form-data" >
        Product Id: <input type="text" name="productId">
        <input type="submit" value="Add" />
    </form>
</div>
<hr />
<div>
    {% for product in group.products %}
    <div class="product-box column grid-2-25" style="float:left;">
        <div>{{ buttons.delete(path('app_site_product_group_delete', {'id': group.id, 'productId':product.id})) }}</div>
        <a class="product-image" href="{{ path('app_site_product', {'_locale': app.request.locale, 'slug':product.slug}) }}"><img src="{{product.image ? product.image.path|imagine_filter('sylius_medium') : 'http://placehold.it/200x300' }}" /></a>
        <div><span class="online-title">{{ product.name }}</span></div>
        <div class="online-price" >{{ product.price|sylius_price }}</div>
    </div>
    {% endfor %}
</div>
<br style="clear:both;">
{% endblock %}
