{% block subject %}
    {% autoescape false %}
    {{ 'email.customer_welcome.subject'|trans }}
    {% endautoescape %}
{% endblock %}
{% block body_text %}{% endblock %}
{% block body_html %}
    <div>
        <p><strong>{{ 'email.customer_welcome.salut'|trans }} {{ user.firstName }} {{ user.firstName }},</strong></p>
        <p>{{ 'email.customer_welcome.body'|trans }}</p>
        <p>{{ 'email.customer_welcome.footer'|trans }}</p>
    </div>
{% endblock %}
