{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}
{% set promotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::PROMOTION_ADJUSTMENT') %}
{% set payment = order.getLastPayment('completed')|default(order.getLastPayment('processing')) %}
<p>
  <strong>{{ 'sylius.account.order.created_at'|trans }} {{ order.createdAt|date() }}</strong><br><br>
  {{ 'sylius.account.order.number'|trans }} <strong>{{ order.number }}</strong>
  {{ 'sylius.account.transaction.number'|trans }} <strong>{% if order.getLastPayment('completed') %}{{ order.getLastPayment('completed').getId() }}{% endif %}</strong>
</p>
<table>
  <tr>
    <td>
      <h4>{{ 'sylius.checkout.finalize.order.shipping_address'|trans }}</h4>
      {% include 'SyliusWebBundle:Common/Address:_show.html.twig' with { 'address': order.shippingAddress } %}
    </td>
    <td>
      <h4>{{ 'sylius.checkout.finalize.order.billing_address'|trans }}</h4>
      {% include 'SyliusWebBundle:Common/Address:_show.html.twig' with { 'address': order.billingAddress } %}
    </td>
  </tr>  
</table>

<table>
  <thead>
    <tr>
      <th width="120px">{{ 'sylius.order_item.sellable'|trans }}</th>
      <th width="120px">{{ 'sylius.order_item.quantity'|trans }}</th>
      <th width="120px">{{ 'sylius.order_item.unit_price'|trans }}</th>
      <th width="120px">{{ 'sylius.order_item.total'|trans }}</th>
    </tr>
  </thead>
  <tbody>
    {% for item in order.items %}
      {% set product = item.product %}
      <tr>
        <td>
          <table>
            {% set product = item.variant.product %}
            <tr>
              <td>
                <a href="{{ path('app_site_product', {'slug':product.slug}) }}" class="pull-left" style="margin-right: 15px;">
                  <img class="img-responsive thumbnail" src="{{ product.image ? product.image.path|imagine_filter('sylius_small')|replace({'http://':'https://'}) : 'http://placehold.it/90x60' }}" alt="{{ product.name }}" />
                </a>
              </td>
              <td>
                <a href="http://shopitalica.ch{{ path('app_site_product', {'slug':product.slug}) }}"><strong>{{ product.name }}</strong></a>
                {% if item.variant.presentation is not empty %}
                  <strong>{{ item.variant.presentation }}</strong>
                {% elseif product.hasOptions %}
                  <ul class="list-unstyled">
                    {% for option in item.variant.options %}
                      <li><strong>{{ option.presentation }}</strong>: {{ option.value }}</li>
                    {% endfor %}
                  </ul>
                {% endif %} 
              </td>
            </tr>
          </table>
        </td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.unitPrice|sylius_price(payment.currency) }}</td>
        <td>{{ item.total|sylius_price(payment.currency) }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3">
        <span >
          {{ 'sylius.order.items_total'|trans }}
        </span>
      </th>
      <th>{{ order.itemsTotal|sylius_price(payment.currency) }}</th>
    </tr>
    <tr>
      <td colspan="3">
        <span >
          {{ 'sylius.order.tax_total'|trans }}
        </span>
      </td>
      <td>{{ order.adjustmentsTotal(taxAdjustment)|sylius_price(payment.currency) }}</td>
    </tr>
    <tr>
      <td colspan="3">
        <span >
          {{ 'sylius.order.shipping_total'|trans }}
        </span>
      </td>
      <td>{{ order.adjustmentsTotal(shippingAdjustment)|sylius_price(payment.currency) }}</td>
    </tr>
    <tr>
      <td colspan="3">
        <span >
          {{ 'sylius.order.promotion_total'|trans }}
        </span>
      </td>
      <td>{{ order.adjustmentsTotal(promotionAdjustment)|sylius_price(payment.currency) }}</td>
    </tr>
    <tr>
      <th colspan="3">
        <span >
          {{ 'sylius.order.total'|trans }}
        </span>
      </th>
      <th>{{ order.total|sylius_price(payment.currency) }}</th>
    </tr>
  </tfoot>
</table>
