<h4>{{ 'site.subscription.header'|trans }}</h4>
<form action="{{ path('app_site_subscription') }}" method="post">
    {{ form_widget(form.email) }}
    <input type="submit" value="{{ 'subscribe'|trans }}" /> <br />
    <span>{{ 'Men'|trans }}</span>  {{ form_widget(form.men) }}
    <span>{{ 'Women'|trans }}</span> {{ form_widget(form.women) }}
    <input type="hidden" name='path' value='{{ path }}' />
    {{ form_rest(form) }}
    
</form>
