{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Product:macros.html.twig' import list %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.customer'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.subcsription.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-th-list"></i> {{ 'sylius.subscription.index_header'|trans|raw }}</h1>
</div>
<form class="form-inline form-filter" action="" method="get" >
    <div class="form-group">
        <label class="sr-only control-label" for="criteria_name">Email</label>
        <input id="criteria_name" class="form-control" type="text" placeholder="Email" name="criteria[email]">
    </div>
    <button class="btn btn-primary" type="submit">
        <i class="glyphicon glyphicon-search"></i>
        Filter
    </button>
</form>

{{ pagination(subscriptions) }}


{% if subscriptions|length > 0 %}
<table class="sylius-products-table table table-bordered">
    <thead>
        <tr>
            <th class="id">{{ sylius_resource_sort('id', '#id') }}</th>
            <th class="info">{{ sylius_resource_sort('email', 'sylius.subscription.email'|trans) }}</th>
            <th class="info">{{ sylius_resource_sort('women', 'sylius.subscription.women'|trans) }}</th>
            <th class="info">{{ sylius_resource_sort('men', 'sylius.subscription.men'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for subscription in subscriptions %}
        <tr id="{{ subscription.id }}">
            <td class="id">
                {{ subscription.id }}
            </td>
            <td class="info">
                {{ subscription.email }}                  
            </td>
            <td class="info">
                {% if subscription.women == 1 %} Yes {% else %} No {% endif %}                  
            </td>
            <td class="info">
                {% if subscription.men == 1 %} Yes {% else %} No {% endif %}                   
            </td>
            <td class="center-text">
                {{ buttons.delete(path('app_site_subscription_delete', {'id': subscription.id})) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.subscription.no_results'|trans) }}
{% endif %}

{{ pagination(subscriptions) }}

{% endblock %}
