{% set product = item.variant.product %}
{% set variant = item.variant %}
<tr>
    <td class="col-lg-3">
        <a href="{{ path('app_site_product', {'slug':product.slug}) }}" class="img-thumbnail">
            <img class="img-medium" src="{{ product.image ? product.image.path|imagine_filter('italica_medium', true) : 'http://placehold.it/90x60' }}" alt="{{ product.name }}" />
        </a>
    </td>
    <td class="col-lg-5">
        <div>
            <p><a href="{{ path('app_site_product', {'slug':product.slug}) }}">{{ product.name }}</a></p>
            {% if variant.presentation is not empty %}
                {{ variant.presentation }}
            {% elseif product.hasOptions %}
            <ul>
            {% for option in variant.options %}
                <li><label>{{ option.presentation }}</label>: {{ option.value }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% if product.shippingCategory %}
            <p><label>Delivery</label>: {{ product.shippingCategory.name|trans({}, 'messages') }}</p>
            {% endif %}

            
            <p>
            <a href="{{ path('sylius_cart_item_remove', {'id': item.id}) }}" class="btn btn-default btn-sm"><i class="fa fa-trash-o fa-white"></i> {{ 'Delete'|trans }}</a>
            </p>
        </div>
    </td>
    <td class="col-md-2">
        <div class="input-group input-group-sm">
        {{ form_widget(form.items[loop.index0].quantity, {'label': false}) }}
                <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-refresh fa-white"></i></button>
                </span>
        </div>
    </td>
    <td class="col-md-2 text-center">
        <b>{{ item.unitPrice|sylius_price }}</b>
    </td>
    
</tr>
