{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% form_theme form _self %}

{% block body %}
{% if not cart.empty %}
<form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
<div class="row">
    <div class="col-lg-8">
        <h4 class="title"><span class="text">{{ 'Cart'|trans|raw }} <b>{{ 'Summary'|trans|raw }}</b></span></h4>
        {{ form_errors(form) }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">{{ 'sylius.cart.summary.product'|trans }}</th>
                    <th class="text-center">{{ 'sylius.cart.summary.quantity'|trans }}</th>
                    <th class="text-center">{{ 'sylius.cart.summary.unit_price'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.items %}
                    {% include 'SyliusWebBundle:Frontend/Cart:_item.html.twig' %}
                {% endfor %}
            </tbody>
        </table>
           
        <div >
            <a href="{{ path('sylius_cart_clear') }}" class="btn btn-sm btn-default"><i class="fa fa-remove fa-white"></i> {{ 'sylius.cart.summary.clear'|trans }}</a>
            
            <p class="pull-right">
                    <label>{{ 'sylius.cart.summary.grand_total'|trans }}</label>: <b>{{ cart.total|sylius_price }}</b>
                </p> 
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-custom">
        <div class="panel-body">
            <h4 class="title"><span class="text">{{ 'Promotion'|trans }} <b>{{ 'Code'|trans }}</b></span></h4>
                <div class="input-group input-group-sm">
                      {{ form_widget(form.promotionCoupon) }}
                      <span class="input-group-btn">
              <button class="btn btn-default" type="submit">{{ 'sylius.cart.summary.add_coupon'|trans }}</button>
            </span>
                  </div>
            <hr />

            <h4 class="title"><span class="text">{{ 'Cart'|trans }} <b>{{ 'Total'|trans }}</b></span></h4>
                {% if cart.promotionTotal %}
               <p><label>{{ 'sylius.order.promotion_total'|trans }}</label>: <b>{{ cart.promotionTotal|sylius_price }}</b></p>
            {% endif %}
               <p>
                    <label>{{ 'sylius.cart.summary.grand_total'|trans }}</label>: <b>{{ cart.total|sylius_price }}</b>
                </p>     
                <div>
                    <a href="{{ path('sylius_checkout_start') }}" class="btn btn- btn-danger btn-block "><i class="fa fa-white fa-shopping-cart"></i> {{ 'sylius.cart.summary.checkout'|trans }}</a>
                </div>

            {{ form_rest(form) }}
        </div>
        </div>
    </div>
</div>
</form>
{{ render(controller( 'AppSyliusProductBundle:Product:getLastVisited', {'request': app.request} )) }}
{% else %}
    {{ 'sylius.cart.empty'|trans }}
{% endif %}
{% endblock %}

{% block sylius_cart_item_row %}
{{ parent() }}
{% block form_message %}{% endblock %}
{% endblock %}
