{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% form_theme form _self %}

{% block body %}
{% if not cart.empty %}
<form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
<div class="row">
    <div class="column grid-8">
        <h4>{{ 'sylius.cart.summary_header'|trans|raw }}</h4>
        {{ form_errors(form) }}
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'sylius.cart.summary.product'|trans }}</th>
                    <th>{{ 'sylius.cart.summary.quantity'|trans }}</th>
                    <th>{{ 'sylius.cart.summary.unit_price'|trans }}</th>
                    <th style="text-align: right;">{{ 'sylius.cart.summary.total'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.items %}
                    {% include 'SyliusWebBundle:Frontend/Cart:_item.html.twig' %}
                {% endfor %}
            </tbody>
        </table>
        <div class="well">
            <button type="submit"><i class="icon-save"></i> {{ 'sylius.cart.summary.save'|trans }}</button>
            <div class="pull-right">
            <a href="{{ path('sylius_cart_clear') }}" class="button"><i class="icon-remove"></i> {{ 'sylius.cart.summary.clear'|trans }}</a>
            </div>
        </div>
    </div>
    <div class="column grid-4">
        <h4>{{ 'Cart Totals'|trans }}</h4>
        <div class="cart-totals label-long">
            <div class="promotion-box">
                <p>{{ 'Promotion Code'|trans }}</p>
                {{ form_widget(form.promotionCoupon) }}
                <button type="submit" >{{ 'sylius.cart.summary.add_coupon'|trans }}</button>
            </div>

            {{ form_rest(form) }}
            {% if cart.promotionTotal %}
                <p><label>{{ 'sylius.order.promotion_total'|trans }}</label>: {{ cart.promotionTotal|sylius_price }}
            {% endif %}
            <p><label>{{ 'sylius.order.shipping_total'|trans }}</label>: {{ cart.shippingTotal|sylius_price }}</p>
            <p><label>{{ 'sylius.order.tax_total'|trans }}</label>: {{ cart.taxTotal|sylius_price }}</p>
            <p><label>{{ 'sylius.cart.summary.grand_total'|trans }}</label>: {{ cart.total|sylius_price }}</p>       
            <div class="pull-right">
                <a href="{{ path('sylius_checkout_start') }}" class="btn btn-success btn-lg"><i class="icon-shopping-cart"></i> {{ 'sylius.cart.summary.checkout'|trans }}</a>
            </div>
        </div>
    </div>
</div>
</form>
{% else %}
    {{ 'sylius.cart.empty'|trans }}
{% endif %}
{% endblock %}

{% block sylius_cart_item_row %}
{{ parent() }}
{% block form_message %}{% endblock %}
{% endblock %}
