{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}
{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}
{% set promotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::PROMOTION_ADJUSTMENT') %}

{% form_theme form _self %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
    <li>{{ 'italica.you.are.here'|trans({}, 'messages') }}: </li>
    <li><a href="/{{ app.request.locale }}">{{ 'italica.home'|trans({}, 'messages') }}</a> </li>
    <li>{{ 'italica.cart'|trans  }} </li>
    </ul>
{% endblock %}

{% block body %}
{% if not cart.empty %}
<form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
<div class="row">
    <div class="col-lg-8">
        <h4 class="title"><span class="text">{{ 'italica.cart.summary'|trans|raw }}</span></h4>
        {{ form_errors(form) }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">{{ 'sylius.cart.summary.product'|trans }}</th>
                    <th class="text-center">{{ 'sylius.cart.summary.quantity'|trans }}</th>
                    <th class="text-center">{{ 'sylius.cart.summary.unit_price'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.items %}
                    {% include 'SyliusWebBundle:Frontend/Cart:_item.html.twig' %}
                {% endfor %}
            </tbody>
        </table>
           
        <div >
            <a href="{{ path('sylius_cart_clear') }}" class="btn btn-sm btn-default"><i class="fa fa-remove fa-white"></i> {{ 'sylius.cart.summary.clear'|trans }}</a>
            
            <p class="pull-right lead">
                    <label>{{ 'sylius.cart.summary.grand_total'|trans }}</label>: <b class="text-danger">{{ cart.total|sylius_price }}</b>
                </p> 
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-custom">
        <div class="panel-body" id="sylius-cart-coupons" data-prototype="{{ form_row(form.promotionCoupons.vars.prototype)|e }}">
            <h4 class="title"><span class="text">{{ 'italica.promotion.code'|trans }}</span></h4>
            <div id="sylius-cart-coupons" data-prototype="{{ form_row(form.promotionCoupons.vars.prototype)|e }}">
                <div id="sylius-cart-coupons-collection">
                    {% for couponField in form.promotionCoupons %}
                    {{ form_widget(couponField, {'label_attr': {'class': 'col-lg-12'}}) }}
                    {% endfor %}
                </div>
                <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-refresh fa-white"></i> {{ 'sylius.apply.code'|trans }}</button>
            </div>             
            <hr />

            <h4 class="title"><span class="text">{{ 'italica.cart.total'|trans }}</span></h4>
            {% if cart.adjustmentsTotal(promotionAdjustment) %}
                <p><label>{{ 'sylius.order.promotion_total'|trans }}</label>: -{{ (-1 * cart.adjustmentsTotal(promotionAdjustment))|sylius_price }}
            {% endif %}            
               <p class="lead">
                 <label>{{ 'sylius.cart.summary.grand_total'|trans }}</label>: <b class="text-danger">{{ cart.total|sylius_price }}</b>
               </p>     
                <div>
                    <a href="{{ path('sylius_checkout_start') }}" class="btn btn- btn-danger btn-block "><i class="fa fa-white fa-shopping-cart"></i> {{ 'sylius.cart.summary.checkout'|trans }}</a>
                </div>

            {{ form_rest(form) }}
        </div>
        </div>
    </div>
</div>
</form>
{{ render(controller( 'AppSyliusProductBundle:Product:getLastVisited', {'request': app.request} )) }}
{% else %}
    {{ 'sylius.cart.empty'|trans }}
{% endif %}
{% endblock %}

{% block sylius_cart_item_row %}
{{ parent() }}
{% block form_message %}{% endblock %}
{% endblock %}
