<!doctype html>
<head>
    <meta charset="utf-8">

    <title>Italica: {{ status_code }} : {{ status_text }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">     
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
                
    <link rel="stylesheet" type="text/css" href="/bundles/kitpagescms/css/common.css"  media="screen" />
    </head>

<body>  
    <div class="page-header" >
      <div class="container">   
        <div class="row" >
          <div class="col-lg-4 col-md-4 col-sm-4">
            
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 text-center" style='margin-bottom:0px;'>
           <a href="https://{{ app.request.host }}{{ app.request.baseUrl }}" alt="shopitalica"><img src="/img/logo-t.png" class="img-responsive" /> </a>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4">
          </div>
        </div>
  </div>
</div>        
 
  <div class="container">
    <div class="col-lg-8">
    <div class="panel panel-custom">
        <div class="panel-body">
            <h4 class="title"><span class="text">{{ status_code }} : {{ status_text }}</span></h4>
            <p>{{ 'error.message'|trans|raw }}</p>
            <p>{{ 'error.contact'|trans|raw }}</p
        </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="panel panel-custom">
        <div class="panel-body">
            <h4 class="title"><span class="text">{{ 'error.links.title'|trans({}, 'messages') }}</span></h4>
            <p>{{ 'error.links.message'|trans|raw }}</p>
        </div>
    </div>
    </div>
  </div>

<p>&nbsp;</p>
  <div class="footer-separator"></div>
  <div class="page-footer">
    <div class="container">
    <div class="row text-center">
      <p class="col-lg-12"><br/>© 2014 Italica </p>
    </div>
  </div>
</div>           
</body>
</html>
