{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% block keywords %}
    
{% endblock %}

{% block title %}
  Italica {{ 'italica.sitemap'|trans({}, 'messages') }}
{% endblock %}
{% block description %}
    
{% endblock %}
{% block breadcrumbs %}  
<ul class="breadcrumb">
    <li>{{ 'italica.you.are.here'|trans({}, 'messages') }}: </li>
    <li><a href="/{{ app.request.locale }}">{{ 'italica.home'|trans({}, 'messages') }}</a> </li>
    <li>{{ 'italica.sitemap'|trans({}, 'messages') }} </li>
</ul>
{% endblock %}
{% block body %}
<div class="row">
        <div class="col-lg-12">
          <h4 class="title">
            <span class="text">{{ 'italica.sitemap'|trans({}, 'messages') }}</span>
          </h4>
        </div>
      </div>   
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
{{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                    'slug': app.request.locale|default('en') ~ '-main',
                    'cssClass': "navbar-nav",
                    'currentPageSlug':kitCmsPage.slug|default(''),
                    'startDepth':1 ,
                    'endDepth':3} )) }}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
{{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                'slug': app.request.locale|default('en') ~ '-footer',
                'cssClass': "navbar-nav",
                'currentPageSlug':kitCmsPage.slug|default(''),
                'startDepth':1 ,
                'endDepth':1} )) }}
    </div>
</div>
{% endblock body %}
 