{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}
{% block class %}{% endblock %}
{% block class_row %}{% endblock %}
{% block body %}

<div class="">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
   <div class="text-center row">
      <a href="{{ path('app_site_shop_women') }}">
      <img class="img-responsive" src="/img/women.jpg"  alt="{{ 'shop.for.women'|trans }}"/></a>
      <div class="overbox"> 
        <a href="{{ path('app_site_shop_women') }}"> &nbsp;</a>
        <div class="overtext">
            <h3><a href="{{ path('app_site_shop_women') }}"> <b>{{ 'shop.for.women'|trans }}</b></a></h3>
            <div style="border-top:2px solid #fff; border-bottom:2px solid #fff">
            {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                'slug': 'en-women-home',
                'cssClass': "text-center",
                'currentPageSlug':kitCmsPage.slug|default(''),
                'startDepth':1 ,
                'endDepth':1} )) }}
            </div>
        </div>
      </div>  
    </div> 
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="text-center row">      
      <a href="{{ path('app_site_shop_men') }}">
      <img class="img-responsive" src="/img/men.jpg"  alt="{{ 'shop.for.men'|trans }}"/></a>
      <div class="overbox">      
        <a href="{{ path('app_site_shop_men') }}"> &nbsp;</a>
        <div class="overtext">
            <h3><a href="{{ path('app_site_shop_men') }}"> <b>{{ 'shop.for.men'|trans }}</b></a></h3>
            <div style="border-top:2px solid #fff; border-bottom:2px solid #fff">
            {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                'slug': 'en-men-home',
                'cssClass': "text-center",
                'currentPageSlug':kitCmsPage.slug|default(''),
                'startDepth':1 ,
                'endDepth':1} )) }}
            </div>
        </div>
      </div>
     
    </div>             
  </div>
</div>
<div class="container">
<div class="row">
    <div class="col-lg-12">
    <h4 class="title"><span class="text">{{ 'italica.new.arrivals.women'|trans({}, 'messages') }}</span></h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    {{ render(controller( 'AppSolrSearchBundle:SolrSearch:searchNewIn', {
        'request': app.request,
        'gender':'women',
        'limit':12 } )) }}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
            'slug': 'en-new-in-women',
            'cssClass': "text-center promo-nav",
            'currentPageSlug':kitCmsPage.slug|default(''),
            'startDepth':1 ,
            'endDepth':1} )) }}
    </div>
</div>
<div class="row" style="margin-top: 25px;">
    <div class="col-lg-12" >
    <h4 class="title"><span class="text">{{ 'italica.new.arrivals.men'|trans({}, 'messages') }}</span></h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
            'slug': 'en-new-in-men',
            'cssClass': "text-center promo-nav",
            'currentPageSlug':kitCmsPage.slug|default(''),
            'startDepth':1 ,
            'endDepth':1} )) }}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    {{ render(controller( 'AppSolrSearchBundle:SolrSearch:searchNewIn', {
        'request': app.request,
        'gender':'men',
        'limit':12 } )) }}
    </div>
</div>
</div>
{% endblock %}
