<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Italica - online store</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ baseUrl }}/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{ baseUrl }}/css/bootstrap.css" type="text/css"/>
    <style type="text/css">
        table.ncoltable1 small, table.ncoltable2 small, table.ncoltable3 small { font-size: 100%}       
        table.ncoltable1, table.ncoltable2, table.ncoltable3 { margin: 5px;}
        table.ncoltable2 {border-bottom: 1px dashed #ccc;}
    </style>
</head>
<body>               
    <div class="page-header">
      <div class="container">   
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 text-center" style='margin-bottom:0px;'>
            <h1 class="text-uppercase text-danger" style="margin-bottom:0px;letter-spacing: 3px;"><a href="/en/" title="" rel="home">Italica</a></h1>
            <p class="lead text-uppercase" style="letter-spacing: 1px;">Online outlet shop</p>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4">
          </div>
        </div>
          </div>
        
        </div>
 
  <div class="container">
<div class="row">
<div class="col-lg-11 checkout-wrap">
  <ul class="checkout-bar">
    <li class=" visited  first">Login</li>
    <li class=" previous visited ">Addresses</li>
    <li class=" previous visited ">Review</li>   
    <li class=" active ">Payment</li>   
    <li class=" next ">Confirmation</li>  
  </ul>
</div>
</div>
<div class="panel panel-custom">
    <div class="panel-body">
$$$PAYMENT ZONE$$$
    </div>
</div>
  </div>   
  <div class="footer-separator"></div>
  <div class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div>
            <h4>We Accept</h4>
            <img src="{{ baseUrl }}/img/americanexpress.png" width="63" />
            <img src="{{ baseUrl }}/img/maestro.png" width="63" />
            <img src="{{ baseUrl }}/img/mastercard.png" width="63" />
            <img src="{{ baseUrl }}/img/visa.png" width="63" />
            <img src="{{ baseUrl }}/img/paypal.png" width="63" />
          </div>
        </div>
      </div>
    <div class="row text-center">
      <p class="col-lg-12"><br/>© 2014 Italica </p>
    </div>
  </div>
</div>           
</body>
</html>