{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}
{% block breadcrumbs %}
<div class="breadcrumbs">
{% trans_default_domain 'menu' %}
<ul>
    <li>{{ 'You are here'|trans({}, 'messages') }}: </li>
    <li><a href="/{{ app.request.locale }}">{{ 'Home'|trans }}</a> </li>
    <li><i class="icon-triangle-right"></i> <a href="{{ path("fos_user_change_password") }}">{{ 'sylius.frontend.menu.account.password'|trans }}</a> </li>
</ul>
</div>
{% endblock %}
{% block content %}
{% trans_default_domain 'FOSUserBundle' %}
<h3>{{'change.my.password'|trans }}</h3>
<div class="passwords">
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <div class="clearfix">
        {{ form_row(form.current_password) }}
    </div>
    <div class="clearfix">
        {{ form_row(form.plainPassword) }}
    </div>
    <fieldset>
    {{ form_rest(form) }}
    </fieldset>
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
</div>

{% endblock content %}
