{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}
{% block breadcrumbs %}
  <ul class="breadcrumb">
    <li>{{ 'italica.you.are.here'|trans({}, 'messages') }}: </li>
    <li><a href="/">{{ 'italica.home'|trans({}, 'messages') }}</a> </li>
    <li><i class="icon-triangle-right"></i> {{ 'italica.brands'|trans({}, 'messages') }} </li>
  </ul>
{% endblock %}


{% block body %}
    
{% set numberInColumn = results.facetSet.facet('brand')|length / 4 %} 
{% set gender = app.request.get('gender')|default('') %}
<div class="row">
    <div class="col-lg-12">
        <h4 class="title"><span class="text">{{ 'italica.list.of.brands'|trans({}, 'messages') }}</span></h4>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-1">
    {% set currentNumber = 0 %}
    {% for facet, value in results.facetSet.facet('brand') %}
        {% if gender %}
          {% set url = path('app_solr_search_gender_brand', { 'gender':gender, 'brand': facet}) %} 
        {% else %}
          {% set url = path('app_solr_search_brand', { 'brand': facet}) %}
        {% endif %}
        <p><i class="fa fa-arrow-right"></i> <a href="{{ url }}">{{ facet|replace({'-and-':'&'})|trans({}, 'messages')|ucwords }}</a></p>
        {% set currentNumber = currentNumber+1 %}
        {% if currentNumber >= numberInColumn %}
            </div>
            <div class="col-lg-4 col-md-2 col-sm-1">
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock body %}