{% import _self as filterBox %}
{% if idname == 'gender' %}
    {% set gender = app.request.get('gender') %}
    <div class = "filter-box">
        <div class="row text-center">   
            <a href="{{ path('app_solr_search_gender', {'gender': 'men', 'page':1}) }}" class="btn btn-pill {% if gender == 'men' %}btn-danger{% else %}btn-default{% endif %} btn-sm">          
                   {{ 'italica.men'|trans({}, 'messages')|capitalize }}</a>  
            <a href="{{ path('app_solr_search_gender', {'gender': 'women', 'page':1}) }}" class="btn btn-pill {% if gender == 'women' %}btn-danger{% else %}btn-default{% endif %} btn-sm">          
                   {{ 'italica.women'|trans({}, 'messages')|capitalize }}</a>
            <a href="{{ path('app_solr_search_gender', {'gender': 'kids', 'page':1}) }}" class="btn btn-pill {% if gender == 'kids' %}btn-danger{% else %}btn-default{% endif %} btn-sm">          
                   {{ 'italica.kids'|trans({}, 'messages')|capitalize }}</a>
        </div>
    </div> 
    <hr />
{% elseif idname == 'categories' %}
    <div class = "filter-box">
        <div class="filter-header open" data-key="{{ idname }}">
            <h5><i class="fa fa-arrow-right"></i> {{ 'category'|trans({}, 'messages')|capitalize }}</h5>
        </div>
        <ul class="nav nav-stacked nav-pills">
        {% for pivot in results.facetSet.facet(idname) %}
            {{ filterBox.pivot(pivot, facets) }}
        {% endfor %}
        </ul>
    </div>
    <hr />
{% elseif results and idname == 'size' and results.facetSet.facet(idname)|length > 20 %}
{% elseif results and idname == 'color' %}
    <div class = "filter-box">
    <div class="filter-header open" data-key="{{ idname }}">
       <h5 class="pull-left"><i class="fa fa-arrow-right"></i> {{ idname|trans({}, 'messages')|capitalize }}</h5>
    {% set clearFilters = false %}
    {% for facetTag in facets %}
        {% if facetTag.field == idname %}
            {% set clearFilters = true %}
        {% endif %}
    {% endfor %}
    {% if clearFilters %}
        <span class="btn btn-xs btn-default clear-filters pull-right" data-url="{{ url(app.request.get('_route'), app.request.get('_route_params')) }}" data-key="{{ idname }}">{{ 'Remove'|trans({}, 'messages') }}</span>
    {% endif %}
        <div class="clearfix"></div>
    </div>
    {{ filterBox.filter_color(idname, results, facets) }}
    </div>
{% elseif results and results.facetSet.facet(idname)|length > 1 %}
{% if  idname == 'promotion' %}
    {% set class = 'label-short' %}
{% else %}
    {% set class = 'label-long' %}
{% endif %}
<div class = "filter-box">
    <div class="filter-header open" data-key="{{ idname }}">
       <h5 class="pull-left"><i class="fa fa-arrow-right"></i> {{ idname|trans({}, 'messages')|capitalize }}</h5>
    {% set clearFilters = false %}
    {% for facetTag in facets %}
        {% if facetTag.field == idname %}
            {% set clearFilters = true %}
        {% endif %}
    {% endfor %}
    {% if clearFilters %}
        <span class="btn btn-xs btn-default clear-filters pull-right" data-url="{{ url(app.request.get('_route'), app.request.get('_route_params')) }}" data-key="{{ idname }}">{{ 'Remove'|trans({}, 'messages') }}</span>
    {% endif %}
    <div class="clearfix"></div>
    </div>
    {{ filterBox.filters(idname, class, results, facets) }}
    </div>
<hr />
{% endif %}

{% macro filter_color(idname, results, facets) %}
   <div id="filter-{{ idname }}" >
        <div class="row" >
          <div class="col-lg-12">
            {% for facet, value in results.facetSet.facet(idname) %}
                {% set class = 'not-selected' %}
                {% for facetTag in facets %}
                    {% if facetTag.facet == facet %} 
                        {% set class = 'selected' %}
                    {% endif %}
                {% endfor %}
                {% if '#' in facet %}
                    <span  data-name="{{ idname }}" data-url="{{ url(app.request.get('_route'), app.request.get('_route_params')) }}" data-value="{{ facet }}" class="thumbnail pull-left {{ class }}" ><i class="btn btn-sm" style="background-color:{{ facet }};">&nbsp;</i></span>
                {% endif %}
            {% endfor %}
          </div>
        </div>
    </div>
{% endmacro %}

{% macro filters(idname, class, results, facets) %}
   <div id="filters-{{ idname }}" class='{{ class }}'>
        <div class="row{% if idname != 'gender' and idname != 'promotion' and idname != 'delivery'  %} filter-option {% endif %}">
           
            {% for facet, value in results.facetSet.facet(idname) %}
                {% if facet is not null and facet != '' and facet|length > 0 and idname != 'material' or facet|length > 2 %}
                <div class="col-lg-6">        
                <input type="checkbox" name="{{ idname }}" value="{{ facet }}" data-url="{{ url(app.request.get('_route'), app.request.get('_route_params')) }}" {% for facetTag in facets %}{% if facetTag.facet == facet %} checked="checked" {% endif %}{% endfor %}>           
                {{ facet|replace({'-and-':'&'})|trans({}, 'messages')|capitalize }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro pivot(pivot, facets, parent = null) %}
    {% set value = pivot.getValue()|friendly_url()%}
    <li>
        {% if app.request.get('gender') %}
            {% if pivot.getField() == 'category1' %}
                {% set url = path('app_solr_search_gender_category',{'category':value,'gender':app.request.get('gender')}) %}
            {% else %}
                {% set parentValue = parent.getValue()|friendly_url() %}
                {% set url = path('app_solr_search_gender_category',{'category':parentValue,'subcategory':value,'gender':app.request.get('gender')}) %}
            {% endif %}
        {% else %}
            {% if pivot.getField() == 'category1' %}
                {% set url = path('app_solr_search_category',{'category':value}) %}
            {% else %}
                {% set parentValue = parent.getValue()|friendly_url() %}
                {% set url = path('app_solr_search_category',{'category':parentValue, 'subcategory':value}) %}
            {% endif %}
        {% endif %}
        
        {% set marked = 0 %}
        {% set isParent = 0 %}
        {% for facetTag in facets %}
            {% if facetTag.facet == value %} 
                {% set marked = 1 %}
            {% endif %}
            {% if parent and facetTag.facet == parentValue %}
                {% set isParent = 1 %}
            {% endif %}
        {% endfor %}
        {% if parent and not isParent %}
            {% set marked = 0 %}
        {% endif %}
        
        <a href="{{ url }}">{% if marked %}<mark><strong>{% endif %}{% if parent is null %}<i class="fa {% if marked %}fa-caret-down{% else %}fa-caret-right{% endif %}"></i> {% endif %}{{ pivot.getValue()|trans({}, 'messages')|capitalize }}{% if marked %}</strong></mark>{% endif %}</a>
    {% if marked %}           
    {% for nextPivot in pivot.getPivot() %}
        
           <ul >
            {{ _self.pivot(nextPivot, facets, pivot ) }}
            </ul>
        
    {% endfor %}
    {% endif %}
    </li>
{% endmacro %}