{% if locale == 'fr' %}
    {% set title = article.name_fr %}
{% else %}
    {% set title = article.name_en %}
{% endif %}
<div>
<a href="{{ path('app_site_product', {'_locale': locale, 'slug':article.slug}) }}"><img class="img-responsive" src="{{article.image is defined and article.image ? article.image|imagine_filter('sylius_medium') : 'http://placehold.it/200x300' }}" alt="{{ title }}" /></a>
<p><br></p>
<div class="text-uppercase">
    <a title="{{ title }}" href="{{ path('app_site_product', {'_locale': locale, 'slug':article.slug}) }}">{{article.brand[0]|default('unbranded'|trans({}, 'messages')) }}</a>
</div>
<div><span >{{ title }}</span></div>
{% if article.rrp|default(0) > article.price %}
    <div>
        <span ><s>
                <a  href="{{ path('app_site_product', {'_locale': locale, 'slug':article.slug}) }}" >{{ article.rrp|sylius_price }}</a>
            </s></span>
            <span> | </span><span ><strong>
            <a class="text-danger" href="{{ path('app_site_product', {'_locale': locale, 'slug':article.slug}) }}" >{{ article.price|sylius_price }}</a>
        </strong></span>
    </div>
{% else %}
    <div><strong>
            <a  class="text-danger" href="{{ path('app_site_product', {'_locale': locale, 'slug':article.slug}) }}" >{{ article.price|sylius_price }}</a>
        </strong></div>
{% endif %}
</a>
<h4 class="title"></h4>
</div>