{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<ul class="pagination pagination-sm">
    {% if previous is defined %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fa fa-arrow-left"></i></a>
        </li>
    {% endif %}
    {% if first is defined and current >= first+5 %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">{{ first }}</a>
        </li>
    {% endif %}
    {% for page in pagesInRange %}
        {% if page != current %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="active"><a href="#">{{ page }}</a></li>
        {% endif %}

    {% endfor %}

    {% if last is defined and current <= last-5 %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">... </a>
        </li>
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">{{ last }}</a>
        </li>
    {% endif %}
            
    {% if next is defined %}
        <li class="next">
           <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fa fa-arrow-right"></i></a>
        </li>
    {% endif %}
</ul>
{% endif %}
