{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% block keywords %}
    {{ app.request.get('gender') }} {{ app.request.get('promotion') }} {{ app.request.get('brand') }} {{ app.request.get('category') }}{{ app.request.query.get('term') }}
{% endblock %}

{% block title %}
  {{ app.request.get('gender') }} {{ app.request.get('promotion') }} {{ app.request.get('brand') }} {{ app.request.get('category') }}{{ app.request.query.get('term') }}
{% endblock %}
{% block description %}
    {{ app.request.get('gender') }} {{ app.request.get('promotion') }} {{ app.request.get('brand') }} {{ app.request.get('category') }}{{ app.request.query.get('term') }}
{% endblock %}
{% block breadcrumbs %}        
<ul>
    <li><a href="/{{ app.request.locale }}">{{ 'Home'|trans({}, 'messages') }}</a> </li>
    {% if app.request.get('promotion') and app.request.get('gender') %}
        <li><a href="{{ path('app_solr_search_gender', {'gender':app.request.get('gender')}) }}">{{ app.request.get('gender')|trans({}, 'messages')|title  }}</a> </li>
        <li>{{ app.request.get('promotion')|trans({}, 'messages')|title  }} </li>
    {% elseif app.request.get('brand') and  app.request.get('gender') %}
        <li><a href="{{ path('app_solr_search_gender', {'gender':app.request.get('gender')}) }}">{{ app.request.get('gender')|trans({}, 'messages')|title  }}</a> </li>
        <li>{{ app.request.get('brand')|trans({}, 'messages')|title  }} </li>
    {% elseif app.request.get('category') and  app.request.get('gender') %}
        <li><a href="{{ path('app_solr_search_gender', {'gender':app.request.get('gender')}) }}">{{ app.request.get('gender')|trans({}, 'messages')|title  }}</a> </li>
        <li>{{ app.request.get('category')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('promotion') %}
        <li>{{ app.request.get('promotion')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('brand') %}
        <li>{{ app.request.get('brand')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('gender')%}
        <li>{{ app.request.get('gender')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('category')%}
        <li>{{ app.request.get('category')|trans({}, 'messages')|title }} </li>
    {% else %}
        <li>{{ 'Search'|trans({}, 'messages') }} </li>    
    {% endif %}
</ul>
{% endblock %}


{% block body %}
<div class="row">
    <div class="column grid-3">
        <div class="filter">
            <h3>Filters</h3>
            {{ gender | raw }}
            {{ promotion | raw }}
            {{ category1 | raw }}
            {{ category2 | raw }}
            {{ size | raw }}

            {{ color | raw }}
            {{ brand | raw }}
            {{ material | raw }}
            {{ delivery | raw }}
            
  <div class = "filter-box">
    <div class="filter-header open" data-key="price">
        {{ 'Price'|trans}}
    </div>
    <div id="filters-price" >
    <form>
        <input type="text" style="width:70px;" name="fromPrice" placeholder="0" value="{{ app.request.query.get('fromPrice') }}"> - 
        <input type="text"  style="width:70px;" name="toPrice" placeholder="10000" value="{{ app.request.query.get('toPrice') }}"> 
        <button type="submit" class="done-price" data-url="{{ url(app.request.get('_route'), app.request.get('_route_params')) }}">{{ 'Filter'|trans({}, 'messages') }}</button>
    </form> 
    </div>
</div>
            
        </div>
</div>
        
       
 
<div class="column grid-9">
    <div class="summary row clearfix">
	<div class="column grid-3 sort-by">
        Sort by
          <select class="done-sorting" data-url="{{ url(app.request.get('_route'), app.request.get('_route_params')) }}">
            <option value="none" >none</option>
            <option value="desc" {% if app.request.query.get('sort') == 'price' and app.request.query.get('direction') == 'desc' %} selected {% endif %}>{{ 'Price High To Low'|trans({}, 'messages') }}</option>
            <option value="asc" {% if app.request.query.get('sort') == 'price' and app.request.query.get('direction') == 'asc' %} selected {% endif %}>{{ 'Price Low To High'|trans({}, 'messages') }}</option>
            <option value="a-z" {% if app.request.query.get('sort') == 'name' and app.request.query.get('direction') == 'asc' %} selected {% endif %}>{{ 'Title A To Z'|trans({}, 'messages') }}</option>
            <option value="z-a" {% if app.request.query.get('sort') == 'name' and app.request.query.get('direction') == 'desc' %} selected {% endif %}>{{ 'Title Z To A'|trans({}, 'messages') }}</option>	
	  </select>
         </div>
        <div class="column grid-3 summary-total">
            <strong>Found {{ pagination.getTotalItemCount }} item(s)</strong>
	</div>
	
<div class="column grid-3 " style="text-align:right;">

         {{ knp_pagination_render(pagination) }} 

</div>		


	</div>
    {% if pagination|length >0 %}
    {% set item = 0 %}
    {% for article in pagination %}
        {% if item == 0 %}
            <div class="row" >
        {% endif %}
        {% include 'AppSolrSearchBundle:SolrSearch:single-product.html.twig' with {'locale': app.request.locale, 'article': article }%}
        {% set item = item+1 %}
        {% if item == 4 %}
            </div>
            {% set item = 0 %}
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="column grid-9-5" style="text-align:center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% else %}
        <p style="text-align:center;">{{ 'italica.no.products.found'|trans({}, 'messages') }}</p>
    {% endif %}
    </div>

 </div>
<p>&nbsp;</p>
{% endblock body %}
 
{% block javascripts %}
    <script>
    $(document).ready(function(){ 
    {% for facet in facets %}
       {% set add = true %}
       {% for field, attribute in app.request.get('_route_params') %}
          {% if field == facet.field or facet.field == 'locale' %}
              {% set add = false %}
          {% endif %}
        {% endfor %}
        {% if add %}
            italica.search.addFacet('{{ facet.facet }}','{{ facet.field }}');
        {% endif %}
    {% endfor %}
    {% if app.request.query.get('term') %}
        italica.search.term = '{{ app.request.query.get('term') }}';
    {% endif %}
    {% if app.request.query.get('toPrice') %}
        italica.search.priceTo = '{{ app.request.query.get('toPrice') }}';
    {% endif %}
    {% if app.request.query.get('fromPrice') %}
        italica.search.priceFrom= '{{ app.request.query.get('fromPrice') }}';
    {% endif %}
    {% if app.request.query.get('sort') %}
        italica.search.sort = '{{ app.request.query.get('sort') }}';
    {% endif %}
    {% if app.request.query.get('direction') %}
        italica.search.direction = '{{ app.request.query.get('direction') }}';
    {% endif %}
});
</script>
{% endblock %}

