{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% block keywords %}
    {{ app.request.get('gender') }} {{ app.request.get('promotion') }} {{ app.request.get('brand') }} {{ app.request.get('category') }}{{ app.request.query.get('term') }}
{% endblock %}

{% block title %}
  {{ app.request.get('gender') }} {{ app.request.get('promotion') }} {{ app.request.get('brand') }} {{ app.request.get('category') }}{{ app.request.query.get('term') }}
{% endblock %}
{% block description %}
    {{ app.request.get('gender') }} {{ app.request.get('promotion') }} {{ app.request.get('brand') }} {{ app.request.get('category') }}{{ app.request.query.get('term') }}
{% endblock %}
{% block breadcrumbs %}  
<ul class="breadcrumb">
    <li>{{ 'italica.you.are.here'|trans({}, 'messages') }}: </li>
    <li><a href="/{{ app.request.locale }}">{{ 'italica.home'|trans({}, 'messages') }}</a> </li>
    {% if app.request.get('promotion') and app.request.get('gender') %}
        <li>
        {% set genders = app.request.get('gender')|split(',') %}
        {% for gender in genders %}
            <a href="{{ path('app_solr_search_gender', {'gender':gender}) }}">{{ gender|trans({}, 'messages')|title  }}</a> 
        {% endfor %}
        </li> 
        <li>{{ app.request.get('promotion')|trans({}, 'messages')|title  }} </li>
    {% elseif app.request.get('brand') and  app.request.get('gender') %}
        <li>
        {% set genders = app.request.get('gender')|split(',') %}
        {% for gender in genders %}
            <a href="{{ path('app_solr_search_gender', {'gender':gender}) }}">{{ gender|trans({}, 'messages')|title  }}</a> 
        {% endfor %}
        </li> 
        <li>{{ app.request.get('brand')|trans({}, 'messages')|title  }} </li>
    {% elseif app.request.get('category') and  app.request.get('gender') %}
        <li>
        {% set genders = app.request.get('gender')|split(',') %}
        {% for gender in genders %}
            <a href="{{ path('app_solr_search_gender', {'gender':gender}) }}">{{ gender|trans({}, 'messages')|title  }}</a>  
        {% endfor %}
        </li> 
        <li>{{ app.request.get('category')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('promotion') %}
        <li>{{ app.request.get('promotion')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('brand') %}
        <li> {{ app.request.get('brand')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('gender')%}
        <li>{{ app.request.get('gender')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('category')%}
        <li> {{ app.request.get('category')|trans({}, 'messages')|title }} </li>
    {% else %}
        <li>{{ 'italica.search'|trans({}, 'messages') }} </li>    
    {% endif %}
</ul>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-2">
        <h4 class="title"><span class="text">{{ 'italica.refactor.by'| trans }}</span></h4>
        <div class="filter">
            {{ gender | raw }}
            {{ promotion | raw }}
            {{ category | raw }}
            {{ size | raw }}

            {{ color | raw }}
            {{ brand | raw }}
            {{ material | raw }}
            {{ delivery | raw }}
            
  <div class = "filter-box">
    <div class="filter-header open" data-key="price">
        <i class="icon-arrow-right"></i> {{ 'italica.price'|trans}}
    </div>
    <div id="filters-price" >
    <form>
        <input type="text" id="fromPrice" data-url="{{ url(app.request.get('_route'), app.request.get('_route_params')) }}" name="fromPrice" value="{{ app.request.query.get('price') }}"> 
    </form> 
    </div>
</div>
            
        </div>
</div>       
 
<div class="col-lg-9 col-md-10 col-sm-10">
    <div class="row">
        {{ render(controller('KitpagesCmsBundle:Block:widget', 
                    {'slug': app.request.locale|default('en') ~ '-'~app.request.get('promotion')~'-'~app.request.get('gender')~'-'~app.request.get('category')~'-'~app.request.get('brand')}
                  )) }}
    </div>
    <div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6">
        <div class="sort-by form-group">
        <div class="input-group input-group-sm">
      <div class="input-group-addon">Sort By</div>
          <select class="form-control  done-sorting" data-url="{{ url(app.request.get('_route'), app.request.get('_route_params')) }}">
            <option value="none" >{{ 'italica.none'|trans }}</option>
            <option value="desc" {% if app.request.query.get('sort') == 'price' and app.request.query.get('direction') == 'desc' %} selected {% endif %}>{{ 'italica.price.high.to.low'|trans({}, 'messages') }}</option>
            <option value="asc" {% if app.request.query.get('sort') == 'price' and app.request.query.get('direction') == 'asc' %} selected {% endif %}>{{ 'italica.price.low.to.high'|trans({}, 'messages') }}</option>
            <option value="a-z" {% if app.request.query.get('sort') == 'name' and app.request.query.get('direction') == 'asc' %} selected {% endif %}>{{ 'italica.title.a.to.z'|trans({}, 'messages') }}</option>
            <option value="z-a" {% if app.request.query.get('sort') == 'name' and app.request.query.get('direction') == 'desc' %} selected {% endif %}>{{ 'italica.title.z.to.a'|trans({}, 'messages') }}</option>	
	  </select>
         </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 summary-total text-center">
            <strong>Found {{ pagination.getTotalItemCount }} item(s)</strong>
	</div>
	
<div class="col-lg-5 text-right">

         {{ knp_pagination_render(pagination) }} 

</div>		


	</div>
    {% if pagination|length >0 %}
    {% set item = 0 %}
    {% for article in pagination %}
        {% if item == 0 %}
            <div class="row" style="margin-bottom:25px;">
        {% endif %}
        <div class="col-lg-3 col-md-6 col-sm-6 text-center" >
        {% include 'AppSolrSearchBundle:SolrSearch:single-product.html.twig' with {'locale': app.request.locale, 'article': article }%}
        </div>
        {% set item = item+1 %}
        {% if item == 4 %}
            </div>
            {% set item = 0 %}
        {% endif %}
    {% endfor %}
    <div >
        <div class="col-lg-12 text-center" >
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% else %}
        <p class="text-center">{{ 'italica.no.products.found'|trans({}, 'messages') }}</p>
    {% endif %}
   </div>
 </div>
<p>&nbsp;</p>
{% endblock body %}
 
{% block javascripts %}
    <script>
    $(document).ready(function(){ 
    {% for facet in facets %}
       {% set add = true %}
       {% for field, attribute in app.request.get('_route_params') %}
          {% if field == facet.field or facet.field == 'locale' %}
              {% set add = false %}
          {% endif %}
        {% endfor %}
        {% if add %}
            italica.search.addFacet('{{ facet.facet }}','{{ facet.field }}');
        {% endif %}
    {% endfor %}
    {% if app.request.query.get('term') %}
        italica.search.term = '{{ app.request.query.get('term') }}';
    {% endif %}
    {% if app.request.query.get('price') %}
        italica.search.price = '{{ app.request.query.get('price') }}';
        {% set price = app.request.query.get('price')|split(';') %}
        italica.search.priceTo = '{{ price[0] }}';
        italica.search.priceFrom = '{{ price[1] }}';
    {% endif %}
    {% if app.request.query.get('sort') %}
        italica.search.sort = '{{ app.request.query.get('sort') }}';
    {% endif %}
    {% if app.request.query.get('direction') %}
        italica.search.direction = '{{ app.request.query.get('direction') }}';
    {% endif %}
    $("#fromPrice").ionRangeSlider({
    min: 0,
    max: 1000,
    from: italica.search.priceTo,
    to: italica.search.priceFrom,
    type: 'double',
    step: 15,
    postfix: " CHF",
    hasGrid: true
});

$('.irs-slider').on("mouseup", function (e) {
    var url = $('#fromPrice').attr('data-url');
    italica.search.price = $('#fromPrice').val();
    italica.redirect(url);                 
});
});
</script>
{% endblock %}

