{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% block keywords %}
    {{ app.request.get('gender') }} {{ app.request.get('promotion') }} {{ app.request.get('brand') }} {{ app.request.get('category') }}{{ app.request.query.get('term') }}
{% endblock %}

{% block title %}
  {{ app.request.get('gender') }} {{ app.request.get('promotion') }} {{ app.request.get('brand') }} {{ app.request.get('category') }}{{ app.request.query.get('term') }}
{% endblock %}
{% block description %}
    {{ app.request.get('gender') }} {{ app.request.get('promotion') }} {{ app.request.get('brand') }} {{ app.request.get('category') }}{{ app.request.query.get('term') }}
{% endblock %}
{% block breadcrumbs %}  
<ul class="breadcrumb" style="margin-bottom:0">
    <li>{{ 'You are here'|trans({}, 'messages') }}: </li>
    <li><a href="/{{ app.request.locale }}">{{ 'Home'|trans({}, 'messages') }}</a> </li>
    {% if app.request.get('promotion') and app.request.get('gender') %}
        <li><i class="icon-triangle-right"></i>
        {% set genders = app.request.get('gender')|split(',') %}
        {% for gender in genders %}
            <a href="{{ path('app_solr_search_gender', {'gender':gender}) }}">{{ gender|trans({}, 'messages')|title  }}</a> 
        {% endfor %}
        </li> 
        <li><i class="icon-triangle-right"></i> {{ app.request.get('promotion')|trans({}, 'messages')|title  }} </li>
    {% elseif app.request.get('brand') and  app.request.get('gender') %}
        <li><i class="icon-triangle-right"></i>
        {% set genders = app.request.get('gender')|split(',') %}
        {% for gender in genders %}
            <a href="{{ path('app_solr_search_gender', {'gender':gender}) }}">{{ gender|trans({}, 'messages')|title  }}</a> 
        {% endfor %}
        </li> 
        <li><i class="icon-triangle-right"></i> {{ app.request.get('brand')|trans({}, 'messages')|title  }} </li>
    {% elseif app.request.get('category') and  app.request.get('gender') %}
        <li><i class="icon-triangle-right"></i>
        {% set genders = app.request.get('gender')|split(',') %}
        {% for gender in genders %}
            <a href="{{ path('app_solr_search_gender', {'gender':gender}) }}">{{ gender|trans({}, 'messages')|title  }}</a>  
        {% endfor %}
        </li> 
        <li> <i class="icon-triangle-right"></i>{{ app.request.get('category')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('promotion') %}
        <li> <i class="icon-triangle-right"></i>{{ app.request.get('promotion')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('brand') %}
        <li><i class="icon-triangle-right"></i> {{ app.request.get('brand')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('gender')%}
        <li><i class="icon-triangle-right"></i> {{ app.request.get('gender')|trans({}, 'messages')|title }} </li>
    {% elseif app.request.get('category')%}
        <li><i class="icon-triangle-right"></i> {{ app.request.get('category')|trans({}, 'messages')|title }} </li>
    {% else %}
        <li><i class="icon-triangle-right"></i> {{ 'Search'|trans({}, 'messages') }} </li>    
    {% endif %}
</ul>
{% endblock %}


{% block body %}
<div class="row">
    <div class="column grid-3">
        <div class="summary" style="padding-bottom: 12px; padding-top: 12px;">
            <span class="summary-total" style="margin-left:10px;">Refactor by</span>
        </div>
        <div class="filter">
            {{ gender | raw }}
            {{ promotion | raw }}
            {{ category1 | raw }}
            {{ category2 | raw }}
            {{ size | raw }}

            {{ color | raw }}
            {{ brand | raw }}
            {{ material | raw }}
            {{ delivery | raw }}
            
  <div class = "filter-box">
    <div class="filter-header open" data-key="price">
        <i class="icon-arrow-right"></i> {{ 'Price'|trans}}
    </div>
    <div id="filters-price" >
    <form>
        <input type="text" id="fromPrice" data-url="{{ url(app.request.get('_route'), app.request.get('_route_params')) }}" name="fromPrice" value="{{ app.request.query.get('price') }}"> 
    </form> 
    </div>
</div>
            
        </div>
</div>
        
       
 
<div class="column grid-9">
  <div style="margin-left:10px;">
    <div class="row" style="margin-bottom:5px; padding:10px;">
        {{ render(controller('KitpagesCmsBundle:Block:widget', 
                    {'slug': app.request.locale|default('en') ~ '-'~app.request.get('promotion')~'-'~app.request.get('gender')~'-'~app.request.get('category')~'-'~app.request.get('brand')}
                  )) }}
    </div>
    <div class="summary row">
	<div class="column grid-3">
        <div class="sort-by">
        Sort By
          <select class="done-sorting" data-url="{{ url(app.request.get('_route'), app.request.get('_route_params')) }}">
            <option value="none" >none</option>
            <option value="desc" {% if app.request.query.get('sort') == 'price' and app.request.query.get('direction') == 'desc' %} selected {% endif %}>{{ 'Price High To Low'|trans({}, 'messages') }}</option>
            <option value="asc" {% if app.request.query.get('sort') == 'price' and app.request.query.get('direction') == 'asc' %} selected {% endif %}>{{ 'Price Low To High'|trans({}, 'messages') }}</option>
            <option value="a-z" {% if app.request.query.get('sort') == 'name' and app.request.query.get('direction') == 'asc' %} selected {% endif %}>{{ 'Title A To Z'|trans({}, 'messages') }}</option>
            <option value="z-a" {% if app.request.query.get('sort') == 'name' and app.request.query.get('direction') == 'desc' %} selected {% endif %}>{{ 'Title Z To A'|trans({}, 'messages') }}</option>	
	  </select>
         </div>
         </div>
        <div class="column grid-4 summary-total">
            <strong>Found {{ pagination.getTotalItemCount }} item(s)</strong>
	</div>
	
<div class="column grid-5 " style="text-align:right;">

         {{ knp_pagination_render(pagination) }} 

</div>		


	</div>
    {% if pagination|length >0 %}
    {% set item = 0 %}
    {% for article in pagination %}
        {% if item == 0 %}
            <div class="row" >
        {% endif %}
        <div class="product-box grid-3" >
        {% include 'AppSolrSearchBundle:SolrSearch:single-product.html.twig' with {'locale': app.request.locale, 'article': article }%}
        </div>
        {% set item = item+1 %}
        {% if item == 4 %}
            </div>
            {% set item = 0 %}
        {% endif %}
    {% endfor %}
    <div class="row summary">
        <div class="column grid-12" style="text-align:center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% else %}
        <p style="text-align:center;">{{ 'italica.no.products.found'|trans({}, 'messages') }}</p>
    {% endif %}
    </div>
   </div>
 </div>
<p>&nbsp;</p>
{% endblock body %}
 
{% block javascripts %}
    <script>
    $(document).ready(function(){ 
    {% for facet in facets %}
       {% set add = true %}
       {% for field, attribute in app.request.get('_route_params') %}
          {% if field == facet.field or facet.field == 'locale' %}
              {% set add = false %}
          {% endif %}
        {% endfor %}
        {% if add %}
            italica.search.addFacet('{{ facet.facet }}','{{ facet.field }}');
        {% endif %}
    {% endfor %}
    {% if app.request.query.get('term') %}
        italica.search.term = '{{ app.request.query.get('term') }}';
    {% endif %}
    {% if app.request.query.get('price') %}
        italica.search.price = '{{ app.request.query.get('price') }}';
        {% set price = app.request.query.get('price')|split(';') %}
        italica.search.priceTo = '{{ price[0] }}';
        italica.search.priceFrom = '{{ price[1] }}';
    {% endif %}
    {% if app.request.query.get('sort') %}
        italica.search.sort = '{{ app.request.query.get('sort') }}';
    {% endif %}
    {% if app.request.query.get('direction') %}
        italica.search.direction = '{{ app.request.query.get('direction') }}';
    {% endif %}
    $("#fromPrice").ionRangeSlider({
    min: 0,
    max: 1000,
    from: italica.search.priceTo,
    to: italica.search.priceFrom,
    type: 'double',
    step: 5,
    postfix: " €",
    hasGrid: true
});

$('.irs-slider').on("mouseup", function (e) {
    var url = $('#fromPrice').attr('data-url');
    italica.search.price = $('#fromPrice').val();
    italica.redirect(url);
    return false;                   
});
});
</script>
{% endblock %}

