{% extends 'AppSiteBundle::base-checkout.html.twig' %}

{% block kitpages_cms_stylesheets %}
    {% if is_granted('ROLE_CMS_ADMIN') %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kitpagescms/css/common.css') }}"  media="screen" />
    {% endif %}
{% endblock kitpages_cms_stylesheets %}

{% block kitpages_cms_toolbar %}
    {% if is_granted('ROLE_CMS_ADMIN') %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
           <div class="kit-cms kit-cms-toolbar">
        {{ render(controller('KitpagesCmsBundle:Toolbar:widgetToolbar')) }}
        {% if (kitCmsViewMode is defined) and ( (kitCmsViewMode == 2) or (kitCmsViewMode == 3) ) %}
            {{ render(controller('KitpagesCmsBundle:Page:widgetToolbar', { 'page':kitCmsPage } )) }}
        {% endif %}
        </div>
        <script>
            $(document).ready(function() {
                $(".kit-cms-delete-button > a").click(function(e) {
                    var response = confirm("{{ 'messages.confirm.delete'|trans }}");
                    if (!response) {
                        e.preventDefault();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock kitpages_cms_toolbar %}

