{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Product:macros.html.twig' import list %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('app_site_product_size_guide_list') }}">{{ 'sylius.breadcrumb.product.size.guide.index'|trans }}</a></li>
    <li>{{ sizeGuide.name|trans|raw  }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.edit(path('app_site_product_size_guide_edit', {'id': sizeGuide.id})) }}
    </div>
    <h1><i class="glyphicon glyphicon-th-list"></i> {{ sizeGuide.name |trans|raw }}: {{ sizeGuide.brand |trans|raw }}: {{ sizeGuide.gender |trans|raw }}</h1>
</div>

<div>
    <h3>Size Chart</h3>
    <form action=""method="post" >
   <table>
        <tbody>
        <tr>
            {% for field in sizeGuide.fields %}
                <th><input type="text" name="field[{{ field.id }}]" placeholder="Field Name" style="width:80px;" value="{{ field.name }}" /></th>
            {% endfor %}
                <th><input type="text" name="field[]" placeholder="Field Name" style="width:80px;" /></th>
            
        </tr> 
            {% set rowId = 1 %}
            {% for row in sizeGuide.getValuesAsRows() %}
                {% if row|length > 0 %} 
                <tr>
                    {% for key, value in row %}
                        <td><input type="text" name="row[{{ key }}][{{ rowId }}]" placeholder="Value" value="{{ value }}" style="width:80px;"></td>
                    {% endfor %}
                </tr>
                {% set rowId = rowId+1 %}
                {% endif %}
            {% endfor %}
                
            {% for field in sizeGuide.fields %}
                <td><input type="text" name="row[{{ field.id }}][{{ rowId }}]" placeholder="Value" style="width:80px;" /></td>
            {% endfor %}
         </tbody>
    </table>
    <input type="Submit" value="Save" class="btn btn-primary" />
    </form>
</div>
<br style="clear:both;">
{% endblock %}
