<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ app.request.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{{ kitCmsPageData.root.metaTitle|default(kitMeta.title|default("Italica")) }}{% block title %}{% endblock %}</title>
    <meta name="description" content="{{ kitCmsPageData.root.metaDescription|default(kitMeta.description|default("")) }}{% block description %}{% endblock %}">
    <meta name="author" content="{{ kitCmsPageData.root.author|default("") }}">
    <meta name="keywords" content="{{ kitCmsPageData.root.metaKeywords|default("") }}{% block keywords %}{% endblock %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">     
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    
    <link rel="stylesheet" type="text/css" href="/css/ion.rangeSlider.skinNice.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ion.rangeSlider.css"/>
            
    {% block stylesheets %}{% endblock %}
    {% block kitpages_cms_stylesheets %}{% endblock %}
</head>

<body>
  {% block kitpages_cms_toolbar %}{% endblock %}
  <header class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
          <div class="col-lg-3 col-md-4 col-sm-4">
            <ul class="nav nav navbar-nav">
            {% if app.user %}
                <li> <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> {{ 'italica.account'|trans({}, 'messages') }}</a> </li>
                <li> <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> {{ 'italica.logout'|trans({}, 'messages') }}</a></li>
              {% else %}
                <li> <a href="{{ path('fos_user_security_login', {'_target_path': app.request.requestUri} ) }}"><i class="fa fa-sign-in"></i> {{ 'italica.login'|trans({}, 'messages') }}</a></li>
                <li> <a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user"></i> {{ 'italica.register'|trans({}, 'messages') }}</a></li>
              {% endif %}
            </ul>
          </div>
          <div class="col-lg-5 col-md-3 col-sm-3">
            <form action="{{ url('app_solr_search', {'_locale': app.request.locale})}}" class="navbar-form" style="padding-top:2px">
              <div class="input-group">
                <input class="form-control  input-sm" name="term" placeholder="{{ 'find.product'|trans }}" type="text" style="width:250px;">
              <span class="input-group-btn"><button class="btn btn-default btn-sm" title="Go" type="submit"><i class="fa fa-search"></i></button></span>
            </div>
            </form>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            {{ knp_menu_render('sylius.frontend.currency', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3">
            <ul class="nav navbar-nav">
              <li><a href="{{ app.request.get('path') | default(app.request.uri) |replace({'/fr/': '/en/'}) }}">{{ 'English'|trans }}</a></li>
              <li><a href="{{ app.request.get('path') | default(app.request.uri) |replace({'/en/': '/fr/'}) }}">{{ 'French'|trans({}, 'messages') }}</a></li>
            </ul>
          </div>        
        </div>
      </div>
      </header>
      <header>
          <div>
              <div class="container">
                  <div class="col-lg-4 col-md-4 col-sm-4 text-center text-uppercase">
                  
                  </div>
                      
                  <div class="col-lg-4 col-md-4 col-sm-4 text-center text-uppercase">
                      <span style="padding:10px; display:block;"> Free delivery and returns </span>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                  
                  </div>
              </div>
          </div>
    </header>          
    <div class="page-header" >
      <div class="container">   
        <div class="row" >
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="row">
            <h5 class="text-center  text-uppercase" >{{ 'welcome.message'|trans }}</h5>
            </div>
            <div class="row text-center">
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 text-center" style='margin-bottom:0px;'>
            <h1 class="text-uppercase text-danger" style="margin-bottom:0px;letter-spacing: 3px;"><a href="/{{ app.request.locale }}/" title="" rel="home">Italica</a></h1>
            <p class="lead text-uppercase" style="letter-spacing: 1px;">{{ 'italica.online.outlet.shop'|trans({}, 'messages') }}</p>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4">
            {{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}   
          </div>
        </div>
        <div class="row">
          <div class="navbar navbar-default" style="border-color: rgb(68, 68, 68);
            border-left: 0 none;
            border-radius: 0;
            border-right: 0 none;
            border-width: 0 0 3px;
            ">
              <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="navbar-collapse collapse navbar-responsive-collapse" style="padding:0px;">
                  {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                    'slug': app.request.locale|default('en') ~ '-main',
                    'cssClass': "navbar-nav header",
                    'currentPageSlug':kitCmsPage.slug|default(''),
                    'startDepth':1 ,
                    'endDepth':3} )) }}
              </div>
              </div>
            </div>
          </div>
        <div class="row">
          {% block breadcrumbs %}{% endblock %}
        </div>
        </div>
  </div>
        
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        {% block overlay %}{% endblock %}
      </div>
    </div>
  </div> 
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      {% block flashes %}
        {% for type in ['success', 'error', 'fos_user_success'] %}
          {% for flash in app.session.flashbag.get(type) %}
            <div class="alert alert-{{ type == 'fos_user_success' ? 'success' : type == 'error' ? 'danger' : type == 'notice' ? 'warning' : type }}">
              <a class="close" data-dismiss="alert" href="#">×</a>
              {{ flash|trans }}
            </div>
          {% endfor %}
        {% endfor %}
      {% endblock %}
      </div>
    </div>
    {% block kitpages_cms_body %}{% endblock %}
    {% block body %}{% endblock %}
  </div>   
  <div class="footer-separator"></div>
  <div class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-5">
          <div id="nav-foot">
            {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                'slug': app.request.locale|default('en') ~ '-footer',
                'cssClass': "navbar-nav footer",
                'currentPageSlug':kitCmsPage.slug|default('')} )) }}

          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 " style="border-right: 1px dashed #d1d1d1;border-left: 1px dashed #d1d1d1;">
          <div class="row">
            <div class="col-lg-12">
          <h4>{{ 'italica.follow.us'|trans }}</h4> 
          <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
          </ul>
            </div>
          </div>
          <hr />
          <div>
            <h4>{{ 'italica.call.us'|trans }}</h4>
            <p>+7(888)888888</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          
          <div id="newsletters" >
            {{ render(controller('AppSiteBundle:Site:subscription',{
            'url': app.request.uri})) }}
          </div>
          <hr />
          <div>
            <h4>{{ 'italica.we.accept'|trans }}</h4>
            <img src="/img/americanexpress.png" width="63" />
            <img src="/img/maestro.png" width="63" />
            <img src="/img/mastercard.png" width="63" />
            <img src="/img/visa.png" width="63" />
            <img src="/img/paypal.png" width="63" />
          </div>
        </div>
      </div>
    <div class="row text-center">
      <p class="col-lg-12"><br/>© 2014 Italica </p>
    </div>
  </div>
</div>           
        
<div id="cookie-div" class="nav navbar-default navbar-fixed-bottom text-center panel-default panel hide">
    <div class="row" style="padding-top:15px;">
        <div class="col-lg-9">
        <p>
            {{ 'app.site.cookie.message'|trans|raw }} <a href="/{{ app.request.locale }}/privacy-policy">{{ 'app.site.cookie.link'|trans }}</a>.
            </p>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-danger acceptCookie">{{ 'italica.accept'|trans }}</button>
        </div>
   </div>     
</div>
  <script defer type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "f95283f4-a8a1-48ac-85ff-d2fc2e213be5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <script asyn type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script asyn type="text/javascript" src="/js/ion.rangeSlider.min.js"></script>
  <script defer src="/js/zoomsl-3.0.min.js"></script>
  <script defer src="/js/common.js"></script>
  <script defer src="/js/search.js"></script>
  <script defer src="/js/bootstrap.min.js"></script>
  
  {% block javascripts %}{% endblock %}
  {% block kitpages_cms_javascripts %}{% endblock %}
  <script>
    setTimeout(function() { $('.layout-flash-error').fadeOut(); }, 8000);
    setTimeout(function() { $('.layout-flash').fadeOut(); }, 5000);
  </script>
</body>
</html>
