<!doctype html>
{% set settings = sylius_settings_all('general') %}
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ app.request.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>
    {% block title %}
        {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
    {% endblock %}</title>
    <meta name="description" content="{% block description %}{{ settings.meta_description|default("") }}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{{ settings.meta_keywords|default("") }}{% endblock %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block og_title %}{{ settings.title|default('sylius.meta.frontend_title'|trans) }}{% endblock %}"/>
    <meta property="og:image" content="{% block og_image %}https://{{ app.request.host }}{{ app.request.baseUrl }}/img/logo-t.png{% endblock %}"/>
    <meta property="og:site_name" content="Shop Italica"/>
    <meta property="og:description" content="{% block og_description %}{{ settings.meta_description|default("") }}{% endblock %}"/>
	
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">     
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/css/ion.rangeSlider.skinNice.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ion.rangeSlider.css"/>
            
    {% block stylesheets %}{% endblock %}
    {% block kitpages_cms_stylesheets %}{% endblock %}
</head>

<body>
  {% block kitpages_cms_toolbar %}{% endblock %}
  <header class="header-box">
      <div class="container" style="font-size:95%">
         <div class="col-lg-4 col-md-4 col-sm-4">
            {{ knp_menu_render('sylius.frontend.locale', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 text-uppercase">
              <span style="padding:10px; display:block;letter-spacing: 1px;"> {{ 'italica.free.delivery.return'|trans|raw }} </span>
          </div>
         <div class="col-lg-4 col-md-4 col-sm-4 ">
            {{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}   
         </div>
            
      </div>
  </header>              
    <div class="page-header" >
      <div class="container">   
        <div class="row" >
          <div class="col-lg-4 col-md-4 col-sm-4 .hidden-xs">
              
            <div class="row">
            <h5 class="text-center  text-uppercase" >{{ 'welcome.message'|trans }}</h5>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 text-center" style='margin-bottom:0px;'>
            <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
              <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <a href="https://{{ app.request.host }}{{ app.request.baseUrl }}" alt="shopitalica"><img src="/img/logo-t.png" class="img-responsive" /> </a>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4">
            <form action="{{ url('app_solr_search')}}" class="navbar-form" style="padding-top:2px">
              <div class="input-group col-lg-12">
                <input class="form-control  input-sm" name="term" placeholder="{{ 'find.product'|trans }}" type="text">
              <span class="input-group-btn"><button class="btn btn-default btn-sm" title="Go" type="submit"><i class="fa fa-search"></i></button></span>
            </div>
            </form>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="navbar navbar-default" style="border-color: rgb(68, 68, 68);
            border-left: 0 none;
            border-radius: 0;
            border-right: 0 none;
            border-width: 0 0 3px;
            ">
              <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="nav navbar-default" style="padding:0px;">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
                  <nav>
                  <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <div class="container" style="padding-left:20%">
                    {% if app.request.get('gender') == 'men' %}
                      {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                    'slug': 'en-men',
                    'cssClass': "navbar-nav header",
                    'currentPageSlug':kitCmsPage.slug|default(''),
                    'startDepth':1 ,
                    'endDepth':3} )) }}
                    {% elseif app.request.get('gender') == 'women' %}
                        {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                          'slug': 'en-women',
                          'cssClass': "navbar-nav header",
                          'currentPageSlug':kitCmsPage.slug|default(''),
                          'startDepth':1 ,
                          'endDepth':3} )) }}
                    {% else %}
                        {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                          'slug': 'en-main',
                          'cssClass': "navbar-nav header",
                          'currentPageSlug':kitCmsPage.slug|default(''),
                          'startDepth':1 ,
                          'endDepth':3} )) }}
                    {% endif %}
                    </div>
                  </div>
                  </nav>
              </div>
              </div>
            </div>
          </div>
        <div class="container">
        <div class="row">
          {% block breadcrumbs %}{% endblock %}
        </div>
    </div>
        
  </div>
        
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        {% block overlay %}{% endblock %}
      </div>
    </div>
  </div> 
  <div class="{% block class %}container{% endblock %}">
      
      {% block flashes %}
        {% if app.session.flashbag.get('success') or app.session.flashbag.get('error') or app.session.flashbag.get('fos_user_success') %}
        <div class="row">
        <div class="col-lg-12">
        {% for type in ['success', 'error', 'fos_user_success'] %}
          {% for flash in app.session.flashbag.get(type) %}
            <div class="alert alert-{{ type == 'fos_user_success' ? 'success' : type == 'error' ? 'danger' : type == 'notice' ? 'warning' : type }}">
              <a class="close" data-dismiss="alert" href="#">×</a>
              {{ flash|trans }}
            </div>
          {% endfor %}
        {% endfor %}
        </div>
        </div>
        {% endif %}
      {% endblock %}
    {% block kitpages_cms_body %}{% endblock %}
    {% block body %}{% endblock %}
  </div>   
  <div class="footer-separator"></div>
  <footer>
  <div class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-5">
          <div id="nav-foot">
            {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                'slug': 'en-footer',
                'cssClass': "navbar-nav footer",
                'currentPageSlug':kitCmsPage.slug|default(''),
                'startDepth':1 ,
                'endDepth':1} )) }}

          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 " style="border-right: 1px dashed #d1d1d1;border-left: 1px dashed #d1d1d1;">
          <div class="row">
            <div class="col-lg-12 text-center">
            
            <h4 class="text-left">{{ 'italica.follow.us'|trans }}</h4> 
            <ul class="nav nav-pills">
            <li><a href="#" style="padding:3px;"><img class="thumbnail" height="35" src="/img/fb.png"  alt="Facebook" /></a></li>
            <li><a href="#" style="padding:3px;"><img class="thumbnail" height="35" src="/img/twitter.png"  alt="Twitter" /></a></li>
            <li><a href="#" style="padding:3px;"><img class="thumbnail" height="35" src="/img/in.png"  alt="LinkedIn" /></a></li>
            </ul>
            </div>
          </div>
          <hr />
          <div>
            <h4>{{ 'italica.contact.us'|trans }}</h4>
            <p>info@{{ app.request.host }}</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          
          <div id="newsletters">
            {{ render(controller('AppSiteBundle:Site:subscription',{
            'url': app.request.uri})) }}
          </div>
          <hr />
          <div>
            <h4>{{ 'italica.we.accept'|trans }}</h4>
            <img src="/img/postfinance-logo.png" height="30" alt="Postfinance" />&nbsp;&nbsp;
            <img src="/img/mastercard-logo.png" height="30" alt="Mastercard" />&nbsp;&nbsp;
            <img src="/img/visa-logo.png" height="25" alt="Visa" />&nbsp;&nbsp;
            <img src="/img/paypal-logo.png" height="30" alt="Paypal" />
          </div>
        </div>
      </div>
    <div class="row text-center">
      <p class="col-lg-12"><br/>© 2014 Italica </p>
    </div>
  </div>
</div>           
  </footer>       
<div id="cookie-div" class="nav navbar-default navbar-fixed-bottom text-center panel-default panel" style="display:none">
    <div class="row" style="padding-top:15px;">
        <div class="col-lg-9">
        <p>
            {{ 'app.site.cookie.message'|trans|raw }} <a href="/info/privacy-policy">{{ 'app.site.cookie.link'|trans }}</a>.
            </p>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-danger acceptCookie">{{ 'italica.accept'|trans }}</button>
        </div>
   </div>     
</div>
  <script  type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script  type="text/javascript" src="/js/ion.rangeSlider.min.js"></script>
  <script src="/js/zoomsl-3.0.min.js"></script>
  <script src="/js/common.js"></script>
  <script  src="/js/search.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=918289354868762&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  {% block javascripts %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59486178-1', 'auto');
    ga('send', 'pageview');
  </script>
  {% endblock %}
  {% block kitpages_cms_javascripts %}{% endblock %}
  <script>
    setTimeout(function() { $('.layout-flash-error').fadeOut(); }, 8000);
    setTimeout(function() { $('.layout-flash').fadeOut(); }, 5000);
  </script>
  
</body>
</html>
