<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ app.request.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{{ kitCmsPageData.root.metaTitle|default(kitMeta.title|default("Italica")) }}{% block title %}{% endblock %}</title>
    <meta name="description" content="{{ kitCmsPageData.root.metaDescription|default(kitMeta.description|default("")) }}{% block description %}{% endblock %}">
    <meta name="author" content="{{ kitCmsPageData.root.author|default("") }}">
    <meta name="keywords" content="{{ kitCmsPageData.root.metaKeywords|default("") }}{% block keywords %}{% endblock %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">     
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ion.rangeSlider.skinNice.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ion.rangeSlider.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
            
    {% block stylesheets %}{% endblock %}
    {% block kitpages_cms_stylesheets %}{% endblock %}
</head>

<body>
  {% block kitpages_cms_toolbar %}{% endblock %}
  <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-collapse collapse" id="navbar-main">
                  <div class="container">
            <div class="col-lg-3">
            <ul class="nav nav navbar-nav">
            {% if app.user %}
                <li> <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> {{ 'italica.account'|trans({}, 'messages') }}</a> </li>
                <li> <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> {{ 'italica.logout'|trans({}, 'messages') }}</a></li>
              {% else %}
                <li> <a href="{{ path('fos_user_security_login', {'_target_path': app.request.requestUri} ) }}"><i class="fa fa-sign-in"></i> {{ 'italica.login'|trans({}, 'messages') }}</a></li>
                <li> <a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user"></i> {{ 'italica.register'|trans({}, 'messages') }}</a></li>
              {% endif %}
            </ul>
            </div>
            <div class="col-lg-3">
            <form action="{{ url('app_solr_search', {'_locale': app.request.locale})}}" class="navbar-form" style="padding-top:5px">
              <div class="input-group">
                <input class="form-control  input-sm" name="term" placeholder="Find products by name" type="text">
              <span class="input-group-btn"><button class="btn btn-default btn-sm" title="Go" type="submit"><i class="fa fa-search"></i></button></span>
            </div>
            </form>
              </div>
            <div class="col-lg-2">
              {{ knp_menu_render('sylius.frontend.currency', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
            <div class="col-lg-2">
            <ul class="nav navbar-nav">
            <li><a href="{{ app.request.get('path') | default(app.request.uri) |replace({'/fr/': '/en/'}) }}">{{ 'English'|trans }}</a></li>
            <li><a href="{{ app.request.get('path') | default(app.request.uri) |replace({'/en/': '/fr/'}) }}">{{ 'French'|trans({}, 'messages') }}</a></li>
          </ul>
          </div>
            <div class="col-lg-2">
              {{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
        </div>
      </div>
    </div>
  <div class="container">
      <div class="page-header" style='background: radial-gradient(ellipse farthest-corner at center center , rgba(255, 255, 255, 0.6) 0%, #fcfcfc 75%) repeat scroll 0px 0%, url("/img/bg.jpg") repeat scroll 0px 0px transparent;'>
        <div class="row" >
          <div class="col-lg-4"><p><br/></p><p class="text-center" >{{ 'welcome.message'|trans }}</p></div>
          <div class="col-lg-4 text-center" style='margin-bottom:0px;'>
            <h1 class="text-uppercase text-danger" style="margin-bottom:0px;letter-spacing: 3px;"><a href="/{{ app.request.locale }}/" title="" rel="home">Italica</a></h1>
            <p class="lead" class="letter-spacing: 1px;">{{ 'italica.online.outlet.shop'|trans({}, 'messages') }}</p>
          </div>
          <div class="col-lg-4"></div>
        </div>
  
            <div class="bs-component">
              <div class="navbar navbar-default panel panel-default">
                  <div class="navbar-collapse collapse navbar-responsive-collapse">
                      {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                        'slug': app.request.locale|default('en') ~ '-main',
                        'cssClass': "navbar-nav",
                        'currentPageSlug':kitCmsPage.slug|default(''),
                        'startDepth':1 ,
                        'endDepth':3} )) }}
                  
                  </div>
                
                
              </div>
            </div>
            <div class="row">
            {% block breadcrumbs %}{% endblock %}
            </div>
</div>
  
        
        
  <div class="modal" style="display:none;z-index:9999">{% block overlay %}{% endblock %}</div>
   
    <div class="bs-docs-section">
      <div class="row">
      {% block flashes %}
        {% for type in ['success', 'error', 'fos_user_success'] %}
          {% for flash in app.session.flashbag.get(type) %}
            <div class="alert alert-{{ type == 'fos_user_success' ? 'success' : type == 'error' ? 'danger' : type == 'notice' ? 'warning' : type }}">
              <a class="close" data-dismiss="alert" href="#">×</a>
              {{ flash|trans }}
            </div>
          {% endfor %}
        {% endfor %}
      {% endblock %}
      {% block body %}{% endblock %}
      </div>
    </div>
  
  <div id="footer"  class="bs-docs-section">
    <div class="row page-header" style="border-top:1px dashed #ccc; padding-top:10px;" >
      <div class="row">
        <div class="col-lg-6">
          <div id="nav-foot">
            {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
                'slug': app.request.locale|default('en') ~ '-footer',
                'cssClass': "navbar-nav footer",
                'currentPageSlug':kitCmsPage.slug|default('')} )) }}

          </div>
        </div>
        <div class="col-lg-2" style="border-right:1px dashed #ccc; border-left: 1px dashed #ccc;">
          <div class="col-lg-12">
          <h4>Follow Us</h4> 
          <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-vk fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
          </ul>
          </div>
          <div class="col-lg-12" style="border-top:1px dashed #ccc; padding-top:15px;">
            <h4>Call Us</h4>
            <p>+7(888)888888</p>
          </div>
        </div>
        <div class="col-lg-4">
          
          <div id="newsletters" class="col-lg-12" style="padding-bottom:10px;">
            {{ render(controller('AppSiteBundle:Site:subscription',{
            'url': app.request.uri})) }}
          </div>
          <div class="col-lg-12" style="border-top:1px dashed #ccc">
            <h4>We Accept</h4>
            <img src="/img/americanexpress.png" width="63" />
            <img src="/img/maestro.png" width="63" />
            <img src="/img/mastercard.png" width="63" />
            <img src="/img/visa.png" width="63" />
            <img src="/img/paypal.png" width="63" />
          </div>
        </div>
      </div>
    </div>  
    <div class="text-center">
      <div class="">© 2014 Italica </div>
    </div>
          <p>&nbsp;</p><p>&nbsp;</p>
  </div>
</div>
<div id="cookie-div" class="nav navbar-default navbar-fixed-bottom text-center panel-default panel hide">
    <div class="row" style="padding-top:15px;">
        <div class="col-lg-9">
        <p>
            {{ 'app.site.cookie.message'|trans|raw }} <a href="/{{ app.request.locale }}/privacy-policy">{{ 'app.site.cookie.link'|trans }}</a>.
            </p>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-danger acceptCookie">Accept</button>
        </div>
    </div>
        
</div>
  <script defer type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "f95283f4-a8a1-48ac-85ff-d2fc2e213be5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
   <script asyn type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script asyn type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script asyn type="text/javascript" src="/slick/slick.min.js"></script>
  <script asyn type="text/javascript" src="/js/ion.rangeSlider.min.js"></script>
  <script defer src="/js/zoomsl-3.0.min.js"></script>
  <script defer src="/js/common.js"></script>
  <script defer src="/js/search.js"></script>
  <script defer src="/js/bootstrap.min.js"></script>
  
  {% block javascripts %}{% endblock %}
  {% block kitpages_cms_javascripts %}{% endblock %}
  <script>
    setTimeout(function() { $('.layout-flash-error').fadeOut(); }, 8000);
    setTimeout(function() { $('.layout-flash').fadeOut(); }, 5000);
  </script>
</body>
</html>
