{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>{{ 'italica.you.are.here'|trans({}, 'messages') }}: </li>
    <li><a href="/{{ app.request.locale }}">{{ 'italica.home'|trans({}, 'messages') }}</a> </li>
    <li>{{ kitCmsPageData.page.title }} </li>
</ul>
{% endblock %}
{% block body %}
{{ render(controller('KitpagesCmsBundle:Page:widgetZone', {'location_in_page': 'main', 'page':kitCmsPage})) }}             

<div style="clear:both;"></div>
{% endblock body %}
