{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% block breadcrumbs %}
  
{% endblock %}
{% block body %}

<div class="row">
  <div class="col-lg-5">
   {{ render(controller('KitpagesCmsBundle:Block:widget', {'slug': app.request.locale|default('en') ~ '-right-banner', 'authorizedBlockTemplateList': ['image']} )) }} 
  </div>
  <div class="col-lg-2 text-center" >
      <div >
      <div><img src="/img/hugo-boss-logo.png" width="100px"></div>
      <div><img src="/img/hermes-logo.png" width="100px"></div>
      <div><img src="/img/versace-jeans-logo.png" width="100px"></div>
      </div>
  </div>
  <div class="col-lg-5">
   {{ render(controller('KitpagesCmsBundle:Block:widget', {'slug': app.request.locale|default('en') ~ '-left-banner', 'authorizedBlockTemplateList': ['image']} )) }}             
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
    <h4 class="title"><span class="text">New Arrivals for <b>Women</b></span></h4>
    </div>
    <div class="col-lg-9">
    {{ render(controller( 'AppSolrSearchBundle:SolrSearch:searchNewIn', {
        'request': app.request,
        'gender':'women',
        'limit':4 } )) }}
    </div>
    <div class="col-lg-3">
        <div class=" lead text-center title" style="background-image:none;">
            
            <a href="{{ path('app_solr_search_gender_promotion', {'gender':'women', 'promotion':'new in'}) }}">
               <hr /> Shop <br /><b>New Arrivals</b><br /> for<br /> <b>Women</b><hr /></a>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 25px;">
    <div class="col-lg-12" >
    <h4 class="title"><span class="text">New Arrivals for <b>Men</b></span></h4>
    </div>
    <div class="col-lg-3">
    <div class="text-center lead title" style="background-image:none;">
        <a href="{{ path('app_solr_search_gender_promotion', {'gender':'men', 'promotion':'new in'}) }}">
            <hr />Shop <br /><b>New Arrivals</b><br /> for <br /><b>Men</b></a><hr />
    </div>
    </div>
    <div class="col-lg-9">
    {{ render(controller( 'AppSolrSearchBundle:SolrSearch:searchNewIn', {
        'request': app.request,
        'gender':'men',
        'limit':4 } )) }}
    </div>
    
</div>
{% endblock body %}
