{% extends 'SyliusWebBundle:Frontend:checkout-layout.html.twig' %}
{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/frontend_province.js'
    'bundles/syliusweb/js/province-choices.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' with {'tab':2} %}
<div class="row">
    <div class="col-lg-12">{{ 'italica.free.delivery'|trans }}</div>
</div>
<form method="post" action="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>
<div class="row">
  <div class="col-lg-12">
  <div class="form-actions">
    <a href="{{ path('sylius_cart_summary') }}" class="pull-left btn btn-default btn-sm"><i class="fa fs-white fa-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;
    <button type="submit" class="pull-right btn btn-danger">{{ 'sylius.checkout.forward'|trans }} <i class="fa fa-white fa-chevron-right"></i></button>
  </div> 
  </div>
</div>   
<div class="row">
    {% for address in addresses %}
        <div class="col-lg-4">
            <div class="panel panel-custom">
                <div class="panel-body">
                    {{ include('SyliusWebBundle:Frontend/Address:_show.html.twig') }}
                    <p class="billing-address-choice" style="display:none;"><a href="{{ path('sylius_checkout_addressing', {'id_billing': address.id}) }}" class="btn btn-default btn-sm" ><i class="glyphicon glyphicon-star"></i>{{ 'sylius.checkout.address.use.billing'|trans }}</a></p>
                    <p><a href="{{ path('sylius_checkout_addressing', {'id_shipping': address.id}) }}" class="btn btn-default btn-sm" ><i class="glyphicon glyphicon-star"></i>{{ 'sylius.checkout.address.use.shipping'|trans}}</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    
<div class="layout-flash">
{{ form_errors(form) }}
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-custom">
            <div class="panel-body">
        <h4 class="title"><span class="text">{{ 'sylius.checkout.finalize.order.shipping_address'|trans }}</span></h4>
        {% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' with {'form': form.shippingAddress} %}
        </div>
        </div>
            <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          {{ form_widget(form.differentBillingAddress, {'attr': {'class': 'sylius-different-billing-address-trigger'}}) }}
        Use different Address for billing?
        </label>
      </div>
    </div>
  </div>
    </div>
    <div id="sylius-billing-address-container" class="col-lg-6"  style="display:none">
        <div class="panel panel-custom">
            <div class="panel-body">
        <h4 class="title"><span class="text">{{ 'sylius.checkout.finalize.order.billing_address'|trans }}</span></h4>
        {% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' with {'form': form.billingAddress} %}
        </div>
        </div>
    </div>
</div>
{{ form_widget(form._token) }}

<div class="form-actions">
    <a href="{{ path('sylius_cart_summary') }}" class="pull-left btn btn-default btn-sm"><i class="fa fs-white fa-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;
    <button type="submit" class="pull-right btn btn-danger">{{ 'sylius.checkout.forward'|trans }} <i class="fa fa-white fa-chevron-right"></i></button>
</div>

</form>
{% endblock %}
