{% extends 'SyliusWebBundle:Frontend:checkout-layout.html.twig' %}
{% block content %}

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' with {'tab':5} %}

<div class="row">
    <div class="col-lg-12">
        <div class="row panel panel-default">
        <div class="panel-body">
            <div class ="col-lg-7 col-md-7 col-sm-7">
            <p>{{ 'order.complete.message'|trans  }}</p>
            <p><strong>{{ 'order.number'|trans  }}</strong>: {{ order.getNumber() }}</p>
            <p><strong>{{ 'sylius.account.transaction.number'|trans }}</strong>: {% if order.getLastPayment('completed') %}{{ order.getLastPayment('completed').getId() }}{% endif %}</p>

            </div>
            <div class ="col-lg-5 col-md-5 col-sm-5">
             <ul class="nav nav-pills nav-stacked">
                 <li><a href="/"><i class="fa fa-arrow-right"></i> {{ 'italica.homepage'|trans }}</a></li>
                 <li><a href="{{ path('app_solr_search') }}"><i class="fa fa-arrow-right"></i> {{ 'italica.continue.shopping'|trans }}</a></li>
                 <li><a href="{{ path('sylius_account_order_index') }}"><i class="fa fa-arrow-right"></i> {{ 'italica.view.orders'|trans }}</a></li>
             </ul>
            </div>
        </div>  
          </div>
        {% include "SyliusWebBundle:Frontend/Account:Order/_detail.html.twig" %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
  {% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
  {% set payment = order.getLastPayment('completed')|default(order.getLastPayment('processing')) %}
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-59486178-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',
    '{{ payment.id }}',           // transaction ID - required
    'Italica Shop',  // affiliation or store name
    '{{ order.itemsTotal|sylius_price(payment.currency) }}',          // total - required
    '{{ order.adjustmentsTotal(taxAdjustment)|sylius_price(payment.currency) }}',           // tax
    '0',              // shipping
    '{{  order.shippingAddress.city }}',       // city
    '{{  order.shippingAddress.province }}',     // state or province
    '{{  order.shippingAddress.country }}'             // country
  ]);

{% for item in order.items %}
    {% set product = item.product %}
  _gaq.push(['_addItem',
    '{{ payment.id }}',           // transaction ID - required
    '{{ item.variant.sku }}',           // SKU/code - required
    '{{ product.name }}',        // product name
    '{% if item.variant.presentation is not empty %}{{ item.variant.presentation }}{% else %}{% for option in item.variant.options %}{{ option.value }}{% endfor %}{% endif %}',   // category or variation
    '{{ item.unitPrice|sylius_price(payment.currency) }}',          // unit price - required
    '{{ item.quantity }}'               // quantity - required
  ]);
  {% endfor %}
  _gaq.push(['_set', 'currencyCode', '{{ payment.currency }}']);
  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>  
{% endblock %}
