{% extends 'SyliusWebBundle:Frontend:checkout-layout.html.twig' %}
{% block content %}

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' with {'tab':5} %}

<div class="row">
    <div class="col-lg-12">
        <div class="row panel panel-default">
        <div class="panel-body">
            <div class ="col-lg-7 col-md-7 col-sm-7">
            <p>{{ 'order.complete.message'|trans  }}</p>
            <p><strong>{{ 'order.number'|trans  }}</strong>: {{ order.getNumber() }}</p>
            </div>
            <div class ="col-lg-5 col-md-5 col-sm-5">
             <ul class="nav nav-pills nav-stacked">
                 <li><a href="/"><i class="fa fa-arrow-right"></i> {{ 'italica.homepage'|trans }}</a></li>
                 <li><a href="{{ path('app_solr_search') }}"><i class="fa fa-arrow-right"></i> {{ 'italica.continue.shopping'|trans }}</a></li>
                 <li><a href="{{ path('sylius_account_order_index') }}"><i class="fa fa-arrow-right"></i> {{ 'italica.view.orders'|trans }}</a></li>
             </ul>
            </div>
        </div>  
          </div>
        {% include "SyliusWebBundle:Frontend/Account:Order/_detail.html.twig" %}
    </div>
</div>
{% endblock %}
