{% extends 'SyliusWebBundle:Frontend:checkout-layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h2>{{ 'sylius.checkout.finalize.header'|trans|raw }}</h2>
</div>

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' with {'tab':4} %}

<div class="row">
    <div class="col-lg-8">
        <div class="row">
        <div class="col-lg-6">
            <h4 class="title"><span class="text">{{ 'sylius.checkout.finalize.order.shipping_address'|trans }}</span></h4>
            {% include 'SyliusWebBundle:Common/Address:_show.html.twig' with { 'address': order.shippingAddress } %}
        </div>
        <div class="col-lg-6">
            <h4 class="title"><span class="text">{{ 'sylius.checkout.finalize.order.billing_address'|trans }}</span></h4>
            {% include 'SyliusWebBundle:Common/Address:_show.html.twig' with { 'address': order.billingAddress } %}
        </div>
        <div class="col-lg-12">
            <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'sylius.checkout.finalize.product.name'|trans }}</th>
                    <th>{{ 'sylius.checkout.finalize.order_item.quantity'|trans }}</th>
                    <th><span class="pull-right">{{ 'sylius.checkout.finalize.order_item.unit_price'|trans }}</span></th>
                    <th><span class="pull-right">{{ 'sylius.checkout.finalize.order_item.total'|trans }}</span></th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items %}
                    {% include 'SyliusWebBundle:Frontend/Checkout/Step/Finalize:_item.html.twig' %}
                {% else %}
                <tr>
                    <td colspan="6">
                        <hr />
                        <div class="alert alert-info">{{ 'sylius.checkout.finalize.order.no_items'|trans }}</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
       </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-custom">
        <div class="panel-body">
        <form method="post" action="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>

        {{ form_errors(form) }}

            <h4 class="title"><span class="text">{{ 'Payment Method'|trans }}</span></h4>
        <fieldset>
            {% for paymentMethodForm in form.paymentMethod %}
                {{ form_row(paymentMethodForm) }}
            {% endfor %}
        </fieldset>

        {{ form_widget(form._token) }}

        
         <hr />
         <p><label>{{ 'sylius.checkout.finalize.order.items_total'|trans }}</label>: {{ order.itemsTotal|sylius_price }}</p>
         <p><label>{{ 'sylius.checkout.finalize.order.tax_total'|trans }}</label>: {{ order.taxTotal|sylius_price }}</p>      
         <p><label>{{ 'sylius.checkout.finalize.order.shipping_total'|trans }}</label>: {{ order.shippingTotal|sylius_price }}</p>
         {% if order.promotionAdjustments|length > 0 %}
            <p><label>{{ 'sylius.checkout.finalize.order.promotion_total'|trans }}</label>: {{ order.promotionTotal|sylius_price }}</p>
         {% endif %}
            <p><label>{{ 'sylius.checkout.finalize.order.total'|trans }}</label>: {{ order.total|sylius_price }}</p>
            <button type="submit" class="btn btn-danger btn-block">{{ 'sylius.checkout.forward'|trans }} <i class="icon-chevron-right"></i></button>
        </form>
       </div>
       </div>
    </div>
</div>
    <div class="form-actions">
        <a href="{{ path('sylius_checkout_display', {'stepName': context.previousStep.name}) }}" class="btn btn-sm btn-default"><i class="icon-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;
    </div>
{% endblock %}
