{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <ul>
    <li>{{ 'italica.you.are.here'|trans({}, 'messages') }}: </li>
    <li><a href="/{{ app.request.locale }}">{{ 'italica.home'|trans({}, 'messages') }}</a> </li>
    <li><i class="icon-triangle-right"></i> {{ 'italica.brands'|trans({}, 'messages') }} </li>
    </ul>
    </div>
{% endblock %}


{% block body %}
{% set numberInColumn = brands|length / 4 %} 
<div><h3>{{ 'italica.list.of.brands'|trans({}, 'messages') }}</h3></div>
<div class="row">
    <div class="column grid-4">
    {% set currentNumber = 0 %}
    {% for brand in brands %}
        <p><a href="{{ path('app_solr_search_brand', {'_locale': app.request.locale, 'brand': brand.name}) }}">{{ brand.name|trans({}, 'messages') }}</a></p>
        {% set currentNumber = currentNumber+1 %}
        {% if currentNumber >= numberInColumn %}
            </div>
            <div class="column grid-4">
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock body %}
