{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-lg-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 15px;">
    <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>

    <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href="{{ path('app_solr_search_gender', {'gender':'men','brand':'sparco'}) }}">
              <img src="/img/carousel/sparco-men.jpg" alt="Sparco">
            </a>
          </div>   
          <div class="item">
            <a href="{{ path('app_solr_search_gender', {'gender':'men','brand':'calvin klein'}) }}">
              <img src="/img/carousel/calvin_klein_jeans_EN.jpg" alt="calvin klein jeans">
            </a>
          </div> 
          <div class="item">
            <a href="{{ path('app_solr_search_gender', {'gender':'men','brand':'vans'}) }}">
              <img src="/img/carousel/vans_EN.jpg" alt="vans">
            </a>
          </div> 
        </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
<div class="col-lg-11 col-md-11">
  <div class="row text-uppercase">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-center">
    <div class="ribbon green"><span> {{ 'clothing'|trans }}</span></div>
    <a href="{{ path('app_solr_search_gender_category', {'gender':'men','category':'mens-clothing'}) }}">
      <img class="img-responsive"  src="/img/carousel/clothing-men.jpeg"/>
    </a>
    <h4 class="title"><a  style="font-weight:bold" href="{{ path('app_solr_search_gender_category', {'gender':'men','category':'mens-clothing'}) }}">
      {{ 'clothing'|trans }}
    </a></h4>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-center">
    <div class="ribbon green"><span> {{ 'accessories'|trans }}</span></div>
    <a href="{{ path('app_solr_search_gender_category', {'gender':'men','category':'accessories'}) }}">
      <img class="img-responsive" src="/img/carousel/accessories-men.jpeg"/>
    </a>
    <h4 class="title"><a  style="font-weight:bold" href="{{ path('app_solr_search_gender_category', {'gender':'men','category':'accessories'}) }}">
      {{ 'accessories'|trans }}
    </a></h4>     
  </div>
  <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-center">
    <div class="ribbon green"><span> {{ 'shoes'|trans }}</span></div>
    <a href="{{ path('app_solr_search_gender_category', {'gender':'men','category':'shoes'}) }}">
       <img class="img-responsive" src="/img/carousel/shoes-men.jpeg"/>
    </a>
    <h4 class="title"><a  style="font-weight:bold" href="{{ path('app_solr_search_gender_category', {'gender':'men','category':'shoes'}) }}">
      {{ 'shoes'|trans }}
    </a></h4>
      
  </div>
  <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
</div>
<div class="row text-uppercase">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-center">
    <div class="ribbon green"><span> {{ 'new'|trans }}</span></div>
    <a href="{{ path('app_solr_search_gender_promotion', {'gender':'men','promotion':'new'}) }}">
      <img class="img-responsive"  src="/img/carousel/new-men.jpeg"/>
    </a>
    <h4 class="title"><a  style="font-weight:bold" href="{{ path('app_solr_search_gender_promotion', {'gender':'men','promotion':'new'}) }}">
      {{ 'new'|trans }}
    </a></h4>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-center">
    <div class="ribbon red"><span> {{ 'sale'|trans }}</span></div>
    <a href="{{ path('app_solr_search_gender_promotion', {'gender':'men','promotion':'sale'}) }}">
      <img class="img-responsive"  src="/img/carousel/sale-men.jpeg"/>
    </a>
    <h4 class="title"><a  style="font-weight:bold" href="{{ path('app_solr_search_gender_promotion', {'gender':'men','promotion':'sale'}) }}">
      {{ 'sale'|trans }}
    </a></h4>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-center"></div>
  <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
</div>
</div>
<div class="col-lg-1 col-md-1"></div>
</div>
{% endblock body %}

{% block javascripts %}
    <script>
    $("#myCarousel").carousel({
  interval: 1000 * 2.5
});
    </script>
{% endblock %}


