{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>{{ 'italica.you.are.here'|trans({}, 'messages') }}: </li>
    <li><a href="/">{{ 'italica.home'|trans({}, 'messages') }}</a> </li>
    <li>{{ key|trans({}, 'messages') }} </li>
</ul>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
        {{ render(controller( 'KitpagesCmsBundle:Nav:widget', {
            'slug': 'en-footer',
            'cssClass': "nav-pills nav-stacked",
            'currentPageSlug':kitCmsPage.slug|default('')} )) }}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">        
        {{ render(controller('KitpagesCmsBundle:Block:widget', {'slug': app.request.locale|default('en') ~ '-'~key, 'authorizedBlockTemplateList': ['standard']} )) }}                         

    </div>
</div>
<div style="clear:both;"></div>
{% endblock body %}
