{% extends "FOSUserBundle::layout.html.twig" %}

{% block breadcrumbs %} 
<ul class="breadcrumb" style="margin-bottom:0">
    <li>{{ 'You are here'|trans({}, 'messages') }}: </li>
    <li><a href="/{{ app.request.locale }}">{{ 'Home'|trans }}</a> </li>
    <li><i class="icon-triangle-right"></i> <a href="{{ path("fos_user_resetting_request") }}">{{ 'resetting.request.submit'|trans }}</a> </li>
</ul>
{% endblock %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

<form class="form-horizontal" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <fieldset>
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">{{ 'resetting.reset.submit'|trans }}</button>
    </div>
   </fieldset>
</form>

{% endblock fos_user_content %}
