<div >
    <p>{{ product.translate(app.request.locale).description|default(product.description)|default('sylius.product.no_description')|trans({}, 'messages')|raw }}</p>
        {% if product.attributes|length > 0 %}
            {% for attribute in product.attributes %}
                {% if attribute.presentation != 'Color' %}
                <p><label>{{ attribute.presentation|trans({}, 'messages') }}:</label> {{ attribute.value|trans({}, 'messages') }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <p><label>{{ 'italica.barcode'|trans({}, 'messages') }}: </label> {{ product.getMasterVariant().sku }}</p>
</div>
<p class="title"></p>

