<ul class="list-group">
    <li class="slide-header list-group-item disabled">
        <span class="text-uppercase"><strong>{{ 'sylius.product.description'|trans({}, 'messages') }}</strong></span>
    </li>
    <li class="slide-body list-group-item">
        <p>{{ product.translate(app.request.locale).description|default(product.description)|default('sylius.product.no_description')|trans({}, 'messages')|raw }}</p>
        {% if product.attributes|length > 0 %}
            {% for attribute in product.attributes %}
                <p><label>{{ attribute.presentation|trans({}, 'messages') }}:</label> {{ attribute.value|trans({}, 'messages') }}</p>
            {% endfor %}
        {% endif %}
        <p><label>{{ 'italica.barcode'|trans({}, 'messages') }}: </label> {{ product.getMasterVariant().sku }} - {{ product.getMasterVariant().barcode }}</p>
    </li>
    {% if product.shippingCategory %}
    <li class="slide-header list-group-item disabled">
        <span class="text-uppercase"><strong>{{ 'italica.delivery'|trans({}, 'messages') }}</strong></span>
    </li>
    <li class="slide-body list-group-item" style="display:none;">
        <p>{{ 'italica.delivery'|trans({}, 'messages') }}: {{ product.shippingCategory.name|trans({}, 'messages') }}</p>
        <p>{{ product.shippingCategory.description|trans({}, 'messages') }}</p>
    </li>
    {% endif %}
    <li class="slide-header list-group-item disabled">
        <span class="text-uppercase"><strong>{{ 'italica.returns'|trans({}, 'messages') }}</strong></span>
    </li>
    <li class="slide-body list-group-item " style="display:none;">
        {{ 'italica.return.policy'|trans({}, 'messages') }}
    </li>
    <li class="share list-group-item disabled">
        <span class="text-uppercase"><strong>{{ 'italica.share'|trans({}, 'messages') }}: </strong></span>
        <span class='st_facebook'></span>
        <span class='st_twitter'></span>
        <span class='st_pinterest' ></span>
        <span class='st_vkontakte'></span>
        <span class='st_googleplus'></span>
        <span class='st_email'></span>
    </li>
</ul>