{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% block keywords %}
    {{ product.translate(app.request.locale).metaKeywords|default(product.metaKeywords) }}
{% endblock %}

{% block description %}
    {{ product.translate(app.request.locale).metaDescription|default(product.metaDescription) }}
{% endblock %}

{% set form = sylius_cart_form({'product': product}) %}
{% set brand = 'unknown' %}
{% set gender = null %}
{% for taxon in product.taxons %}
    {% if taxon.name == 'Women' %}
        {% set gender = 'women' %}
    {% endif %}
    {% if taxon.parent.name == 'Brand' %}
        {% set brand = taxon.name %}
    {% endif %}
{% endfor %}

{% block title %}
    {{ brand }} | {{ product.translate(app.request.locale).name|default(product.name)|title }}
{% endblock %}
    
{% block breadcrumbs %}
    <ul>
    <li><a href="/{{ app.request.locale }}">{{ 'Home'|trans({}, 'messages') }}</a> </li>
    {% if gender %}
        <li><a href="{{ path('app_solr_search_gender', {'gender':gender}) }}">{{ gender|trans({}, 'messages')|title  }}</a> </li>
        <li><a href="{{ path('app_solr_search_gender_brand', {'gender':gender, 'brand':brand}) }}">{{ brand|trans({}, 'messages')|title  }} </a></li>
    {% else %}
        <li><a href="{{ path('app_solr_search_brand', {'brand':brand}) }}">{{ brand|trans({}, 'messages')|title  }} </a></li>
    {% endif %}
    <li>{{ product.translate(app.request.locale).name|default(product.name)|title  }} </li>
    </ul>
{% endblock %}
{% block overlay %}
   {% if gender %}    
   {{ render(controller('AppSyliusProductBundle:SizeGuide:getSizeGuide', {'request': app.request, 'brand': brand, 'gender': gender} )) }}             
   {% endif %}
{% endblock %}
{% block body %}
<div class="row">
   <div class="column grid-10" style="margin:0px;"> 
        <div class="row">
        {% if product.images|length > 0 %}
            <div class="column grid-1">
                <div class="tmb-caption">
                    {% for image in product.images %}
                        <div class="wp-caption">
                            <img class="img-rounded" src="{{ image.path|imagine_filter('sylius_small') }}" data-src="{{ image.path|imagine_filter('sylius_large') }}" data-tmb-large="{{ image.path|imagine_filter('sylius_x_large') }}" alt="{{ product.name }}" />
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="column grid-4">
            <img class="container" src="{{ product.image ? product.image.path|imagine_filter('sylius_large'): 'http://placehold.it/200x200' }}" alt="{{ product.name }}" data-large="{{ product.image ? product.image.path|imagine_filter('sylius_x_large') : 'http://placehold.it/200x200' }}"/>   
        </div>
        <div class="column grid-5">
             <h3>{{ product.translate(app.request.locale).name|default(product.name) }}</h3>
            <div class="product-short-description">
                <p>{{ product.translate(app.request.locale).shortDescription|default(product.shortDescription)|raw }}</p>
            </div>
    
            {% if product.attributes|length > 0 %}
                <div class="product-attributes">
                    {% for attribute in product.attributes %}
                        <p><label>{{ attribute.presentation|trans({}, 'messages') }}:</label> {{ attribute.value|trans({}, 'messages') }}</p>
                    {% endfor %}
                    <p><label>{{ 'Barcode'|trans({}, 'messages') }}: </label> {{ product.getMasterVariant().sku }} - {{ product.getMasterVariant().barcode }}</p>
                </div>
            {% endif %}
            <div class="product-price">
                {% if product.rrp > product.price %}
                    <div class="old-price">{{ 'RRP'|trans({}, 'messages') }}: <span>{{product.rrp|sylius_price }}</span></div>
                    <div>{{ 'Shop Price'|trans({}, 'messages') }}: <span>{{product.price|sylius_price }}</span></div>
                {% else %}
                    {{ 'Shop Price'|trans({}, 'messages') }}: <span class="online-price">{{ sylius_calculate_price(product.masterVariant)|sylius_price }} (incl. VAT)</span> 
                {% endif %}
            </div>
            <div class="product-form">
                <a href="javascript:void(0);" class="modal-show">Size Guide</a>
                <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix form-horizontal">
                {% if product.hasVariants %}
                    <div class="col-md-6">
                        {% if product.isVariantSelectionMethodChoice %}
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ 'sylius.variant.price'|trans({}, 'messages') }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for variant in product.variants if variant.available %}
                                <tr>
                                    <td>
                                        {% if variant.presentation is empty %}
                                        <ul class="unstyled">
                                            {% for option in variant.options %}
                                            <li><strong>{{ option.presentation|trans({}, 'messages') }}</strong>: {{ option.value|trans({}, 'messages') }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% else %}
                                            {{ variant.presentation|trans({}, 'messages') }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="label label-success">{{ sylius_calculate_price(variant)|sylius_price }}</span>
                                    </td>
                                    <td>
                                    {% if sylius_inventory_is_available(variant) %}
                                        {{ form_widget(form.variant[loop.index0]) }}
                                    {% else %}
                                        <span class="label label-warning">{{ 'sylius.out_of_stock'|trans({}, 'messages') }}</span>
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <div class="well clearfix">
                                {{ form_widget(form.variant) }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="col-md-6 pull-right">
                    {% if not product.hasVariants and not sylius_inventory_is_available(product.masterVariant) %}
                        <span class="label label-warning">{{ 'sylius.out_of_stock'|trans({}, 'messages') }}</span>
                    {% else %}
                        {{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
                        {{ form_widget(form._token) }}
                        <br>
                        {% if sylius_is_restricted(product) %}
                        <button disabled="disabled" class="btn btn-success btn-lg btn-block"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.product_not_available_in_zone'|trans({}, 'messages') }}</button>
                        {% else %}
                            <button type="submit" class="btn btn-success btn-lg btn-block"><i class="icon-shopping-cart icon-white icon-large"></i> {{ 'sylius.add_to_cart'|trans({}, 'messages') }}</button>
                        {% endif %}
                    {% endif %}
                </div>
            </form>
        </div>                 
    </div>
    </div>
       <div class="row">
           <div class="column grid-6">
                <h4>{{ 'sylius.product.description'|trans({}, 'messages') }}</h4>
                <p>{{ product.translate(app.request.locale).description|default(product.description)|default('sylius.product.no_description')|trans({}, 'messages')|raw }}</p>
            </div>
            <div class="column grid-4">
                {% if product.shippingCategory %}
                <div class="highlight">
                    <h5>Delivery: {{ product.shippingCategory.name|trans({}, 'messages') }}</h5>
                    <p>{{ product.shippingCategory.description|trans({}, 'messages') }}</p>
                </div>
                {% endif %}
                <div class="highlight">
                    <h5>Return</h5>
                    {{ render(controller('KitpagesCmsBundle:Block:widget', {'slug': app.request.locale|default('en') ~ '-return', 'authorizedBlockTemplateList': ['standard']} )) }}             
                </div>
       
            </div>     
        </div>
    </div>
    <div class="column grid-2">
        <h5>{{ 'Other Options'|trans({}, 'messages') }}</h5>
        {{ render(controller( 'AppSyliusProductBundle:Product:getProductsByGroup', {
        'request': app.request,
        'groupId': product.getGroup().id} )) }}
    </div>
</div>
{{ render(controller( 'AppSyliusProductBundle:Product:getLastVisited', {'request': app.request} )) }}
<p>&nbsp;</p>
{% endblock %}


{% block javascripts %}
<script>
    $(document).ready(function(){  
        $("#sylius_cart_item_variant_leter-size > option").each(function() {
            $("#sylius_cart_item_variant_leter-size option[value="+this.value+"]").attr('disabled', 'disabled');
        });
        {% for variant in product.getVariants() %}
            {% if variant.isInStock() %}
                {% for option in variant.getOptions() %}
                    {% if option.presentation == 'Size' %}
                        $('#sylius_cart_item_variant_leter-size option').filter(function () { return $(this).html() == "{{option.value}}"; }).removeAttr('disabled');
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    });
</script>
{% endblock %}
