{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% block keywords %}
    {{ product.translate(app.request.locale).metaKeywords|default(product.metaKeywords) }}
{% endblock %}

{% block description %}
    {{ product.translate(app.request.locale).metaDescription|default(product.metaDescription) }}
{% endblock %}

{% set form = sylius_cart_form({'product': product}) %}
{% set brand = 'unknown' %}
{% set gender = null %}
{% for taxon in product.taxons %}
    {% if taxon.name == 'Women' %}
        {% set gender = 'women' %}
    {% endif %}
    {% if taxon.name == 'Men' %}
        {% set gender = 'men' %}
    {% endif %}
    {% if taxon.parent.name == 'Brand' %}
        {% set brand = taxon.name %}
    {% endif %}
{% endfor %}

{% block title %}
    {{ brand }} | {{ product.translate(app.request.locale).name|default(product.name)|title }}
{% endblock %}
    
{% block breadcrumbs %}
    <div class="col-lg-10">
    <ul class="breadcrumb">
    <li>{{ 'You are here'|trans({}, 'messages') }}: </li>
    <li><a href="/{{ app.request.locale }}">{{ 'Home'|trans({}, 'messages') }}</a> </li>
    {% if gender %}
        <li><a href="{{ path('app_solr_search_gender', {'gender':gender}) }}">{{ gender|trans({}, 'messages')|title  }}</a> </li>
        <li><a href="{{ path('app_solr_search_gender_brand', {'gender':gender, 'brand':brand}) }}">{{ brand|trans({}, 'messages')|title  }} </a></li>
    {% else %}
        <li><a href="{{ path('app_solr_search_brand', {'brand':brand}) }}">{{ brand|trans({}, 'messages')|title  }} </a></li>
    {% endif %}
    <li>{{ product.translate(app.request.locale).name|default(product.name)|title  }} </li>
    </ul>
    </div>
    <div class="col-lg-2" style="padding-top:5px;">
        <a href="javascript:void(0);" class="back">{{ 'Back to the search'| trans({}, 'messages') }} <i class="fa fa-arrow-right"></i></a>
    </div>
{% endblock %}
{% block overlay %}
   {% if gender %}    
   {{ render(controller('AppSyliusProductBundle:SizeGuide:getSizeGuide', {'request': app.request, 'brand': brand, 'gender': gender} )) }}             
   {% endif %}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-5">   
    <div class="row">
        <div class="col-lg-2">
            {% if product.images|length > 0 %}
            <div class="tmb-caption">
                {% for image in product.images %}
                    <div class="wp-caption">
                        <img class="thumbnail" src="{{ image.path|imagine_filter('sylius_small') }}" data-src="{{ image.path|imagine_filter('sylius_large') }}" data-tmb-large="{{ image.path|imagine_filter('sylius_x_large') }}" alt="{{ product.name }}" />
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-lg-10">
            <img class="container" style="padding:0; margin:0; width:300px;" src="{{ product.image ? product.image.path|imagine_filter('sylius_large'): 'http://placehold.it/200x200' }}" alt="{{ product.name }}" data-large="{{ product.image ? product.image.path|imagine_filter('sylius_x_large') : 'http://placehold.it/200x200' }}"/>   
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="title">
                <span class="text">{{ 'Other'|trans({}, 'messages') }} <b>{{ 'Options'|trans({}, 'messages') }}</b></span>
            </h4>
            {{ render(controller( 'AppSyliusProductBundle:Product:getProductsByGroup', {
            'request': app.request,
            'groupId': product.getGroup().id} )) }}
        </div>
    </div>   
    </div>    
        <div class="col-lg-7">
            <span class="brand-label">{{ brand }}</span>
            <h3  class="no-transform">{{ product.translate(app.request.locale).name|default(product.name) }}</h3>
               
                <p>{{ product.translate(app.request.locale).shortDescription|default(product.shortDescription)|raw }}</p>
            <div class="row">
                <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <p >
                {% if product.rrp > product.price %}
                    <div >{{ 'RRP'|trans({}, 'messages') }}: <span>{{product.rrp|sylius_price }}</span></div>
                    <div>{{ 'Shop Price'|trans({}, 'messages') }}: <span><b>{{product.price|sylius_price }}</b></span></div>
                {% else %}
                    {{ 'Shop Price'|trans({}, 'messages') }}: <span><b>{{ sylius_calculate_price(product.masterVariant)|sylius_price }} (incl. VAT)</b></span> 
                {% endif %}
            </p>
            </div>
            </div>
            <div class="well panel panel-default">
            <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix form-horizontal">
                <fieldset>  
                    {% include 'AppSyliusWebBundle:Frontend/Product:_variantOption.html.twig' %}
                    <div class="form-group">
                    {% if not product.hasVariants and not sylius_inventory_is_available(product.masterVariant) %}
                        <span class="label label-warning">{{ 'sylius.out_of_stock'|trans({}, 'messages') }}</span>
                    {% else %}
                        <div class="col-lg-9 col-lg-offset-3">
                        {% if sylius_is_restricted(product) %}
                        <button disabled="disabled" class="btn btn-danger"><i class="fa fa-shopping-cart fa-white fa-large"></i> {{ 'sylius.product_not_available_in_zone'|trans({}, 'messages') }}</button>
                        {% else %}
                            <button type="submit" class="btn btn-danger "><i class="fa fa-shopping-cart fa-white fa-large"></i> {{ 'sylius.add_to_cart'|trans({}, 'messages') }}</button>
                        {% endif %}
                        </div>
                    {% endif %}
                    </div>
                </fieldset>
                <input type="hidden" id="product-slug" name="product-slug" value="{{ product.slug }}" />
                <input type="hidden" id="locale" name="locale" value="{{ app.request.locale }}" />
            </form>
        </div>  
        {% include 'AppSyliusWebBundle:Frontend/Product:_descriptionSwitch.html.twig' %}        
    </div>
    </div>
{{ render(controller( 'AppSyliusProductBundle:Product:getLastVisited', {'request': app.request} )) }}
<p>&nbsp;</p>
{% endblock %}


{% block javascripts %}
<script>
    $(document).ready(function(){  
        $("#sylius_cart_item_variant_leter-size > option").each(function() {
            $("#sylius_cart_item_variant_leter-size option[value="+this.value+"]").attr('disabled', 'disabled');
        });
        {% for variant in product.getVariants() %}
            {% if variant.isAvailableOnDemand() %}
                {% for option in variant.getOptions() %}
                    {% if option.presentation == 'Size' %}
                        $('#sylius_cart_item_variant_leter-size option').filter(function () { return $(this).html() == "{{option.value}}"; }).removeAttr('disabled');
                    {% endif %}
                {% endfor %}
            {% elseif variant.isInStock() %}
                {% for option in variant.getOptions() %}
                    {% if option.presentation == 'Size' %}
                        $('#sylius_cart_item_variant_leter-size option').filter(function () { return $(this).html() == "{{option.value}}"; }).removeAttr('disabled');
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    });
</script>
{% endblock %}
