{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% block keywords %}
    {{ product.translate(app.request.locale).metaKeywords|default(product.metaKeywords) }}
{% endblock %}

{% block description %}
    {{ product.translate(app.request.locale).metaDescription|default(product.metaDescription) }}
{% endblock %}

{% block og_description %}
    {{ product.translate(app.request.locale).metaDescription|default(product.metaDescription) }}
{% endblock %}
{% block og_image %}
    {{ product.image ? product.image.path|imagine_filter('sylius_small')|replace({'http://':'https://'}): 'http://placehold.it/200x200' }}
{% endblock %}
{% set form = sylius_cart_form({'product': product}) %}
{% set brand = 'unknown' %}
{% set gender = null %}
{% for taxon in product.taxons %}
    {% if taxon.name == 'Women' %}
        {% set gender = 'women' %}
    {% endif %}
    {% if taxon.name == 'Men' %}
        {% set gender = 'men' %}
    {% endif %}
    {% if taxon.parent.name == 'Brand' %}
        {% set brand = taxon.name %}
    {% endif %}
{% endfor %}

{% block title %}
    {{ brand }} | {{ product.translate(app.request.locale).name|default(product.name)|title }}
{% endblock %}

{% block og_title %}
    {{ brand }} | {{ product.translate(app.request.locale).name|default(product.name)|title }}
{% endblock %}
    
{% block breadcrumbs %}
    <div class="col-lg-10 col-md-10 col-sm-10">
    <ul class="breadcrumb">
    <li>{{ 'italica.you.are.here'|trans({}, 'messages') }}: </li>
    <li><a href="/">{{ 'italica.home'|trans({}, 'messages') }}</a> </li>
    {% if gender %}
        <li><a href="{{ path('app_solr_search_gender', {'gender':gender}) }}">{{ gender|trans({}, 'messages')|title  }}</a> </li>
        <li><a href="{{ path('app_solr_search_gender_brand', {'gender':gender, 'brand':brand}) }}">{{ brand|trans({}, 'messages')|title  }} </a></li>
    {% else %}
        <li><a href="{{ path('app_solr_search_brand', {'brand':brand}) }}">{{ brand|trans({}, 'messages')|title  }} </a></li>
    {% endif %}
    <li>{{ product.translate(app.request.locale).name|default(product.name)|title  }} </li>
    </ul>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2" style="padding-top:5px;">
        <a href="javascript:void(0);" class="back">{{ 'italica.back.to.the.search'| trans({}, 'messages') }} <i class="fa fa-arrow-right"></i></a>
    </div>
{% endblock %}
{% block overlay %}
   {% if gender %}    
   {{ render(controller('AppSyliusProductBundle:SizeGuide:getSizeGuide', {'request': app.request, 'brand': brand, 'gender': gender} )) }}             
   {% endif %}
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-lg-6">   
    <div class="row">
      <div class="col-lg-3 col-sm-12 col-xs-12 col-md-3">
        {% if product.images|length > 0 %}
          <div class="tmb-caption">
            {% for image in product.images %}
              <div class="wp-caption col-lg-12 col-md-12 col-sm-4 col-xs-4">
                <img class="img-responsive thumbnail" src="{{ image.path|imagine_filter('sylius_small')|replace({'http://':'https://'}) }}" data-src="{{ image.path|imagine_filter('sylius_large')|replace({'http://':'https://'}) }}" data-tmb-large="{{ image.path|imagine_filter('sylius_x_large')|replace({'http://':'https://'}) }}" alt="{{ product.name }}" />
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="col-lg-9 col-sm-12 col-xs-12 col-md-9">
        <img class="img-responsive image-container" style="padding:0; margin:0;" src="{{ product.image ? product.image.path|imagine_filter('sylius_large')|replace({'http://':'https://'}): 'http://placehold.it/200x200' }}" alt="{{ product.name }}" data-large="{{ product.image ? product.image.path|imagine_filter('sylius_x_large')|replace({'http://':'https://'}) : 'http://placehold.it/200x200' }}"/>   
      </div>
    </div>
    {% if product.getGroup() %}
      <div class="row">
        <div class="col-lg-12">
          <h4 class="title">
            <span class="text">{{ 'italica.other.options'|trans({}, 'messages') }}</span>
          </h4>
          {{ render(controller( 'AppSyliusProductBundle:Product:getProductsByGroup', {
            'request': app.request,
            'groupId': product.getGroup().id} )) }}
        </div>
      </div>   
    {% endif %}
  </div>    
  <div class="col-lg-6">
    <span class="brand-label">{{ brand }}</span>
    <div class="row">
        <div class="col-lg-6">
          <h3  class="no-transform">{{ product.translate(app.request.locale).name|default(product.name) }}</h3>
          <p>{{ product.translate(app.request.locale).shortDescription|default(product.shortDescription)|raw }}</p>
          <p class="title"></p>
          {% include 'AppSyliusWebBundle:Frontend/Product:_descriptionSwitch.html.twig' %} 
          
           
        </div>
        <div class="col-lg-6">
          <div class="well panel panel-default">
            <p class="lead  pull-right">{{ 'italica.product.free.delivery'|trans |raw }}</p>
            <div class="lead pull-left">
            {% if product.rrp > product.price %}
                <p><small>{{ 'italica.rrp'|trans({}, 'messages') }}: {{product.rrp|sylius_price }}</small></p>
            <p>{{ 'italica.shop.price'|trans({}, 'messages') }}: <span class="text-danger"><b>{{product.price|sylius_price }} <small class="text-lowercase">(incl. VAT)</small></b></span></p>
            {% else %}
                <p class="text-uppercase">{{ 'italica.shop.price'|trans({}, 'messages') }}: <span class="text-danger"><b>{{ sylius_calculate_price(product.masterVariant)|sylius_price }} <small class="text-lowercase">(incl. VAT)</small></b></span> </p>
            {% endif %}
            </div>
            <div style="clear:both;"></div>
            <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix form-horizontal">
              <fieldset>  
                {% include 'AppSyliusWebBundle:Frontend/Product:_variantOption.html.twig' %} 
              </fieldset>
              <input type="hidden" id="product-slug" name="product-slug" value="{{ product.slug }}" />
              <input type="hidden" id="locale" name="locale" value="{{ app.request.locale }}" />
            </form>
          </div> 
            
            
            <div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    {% if product.shippingCategory %}
    <li role="presentation" class="active">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
            <span class="text"><b>{{ 'italica.delivery'|trans({}, 'messages') }}</b></span>
        </a>
    </li>
    {% endif %}
    <li role="presentation">
        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
            <span class="text"><b>{{ 'italica.returns'|trans({}, 'messages') }}</b></span>
        
        </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content panel-body">
       {% if product.shippingCategory %}
           <div role="tabpanel" class="tab-pane fade in active" id="profile">
               <p>{{ product.shippingCategory.description|trans({}, 'messages')|raw }}</p>
           </div>
  {% endif %}
  <div role="tabpanel" class="tab-pane fade" id="messages">
      {{ 'italica.return.policy'|trans({}, 'messages') }}
  </div>
</div>
</div>
            
  
  
            <div class="panel panel-default">
                <div class="panel-body">
                <span class="text-uppercase"><strong>{{ 'italica.share'|trans({}, 'messages') }}: </strong></span>
                <div class="fb-share-button" data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="button_count"></div>
                </div>
            </div>
               
        </div>
      </div>           
    </div>
  </div>
{{ render(controller( 'AppSyliusProductBundle:Product:getLastVisited', {'request': app.request} )) }}
<p>&nbsp;</p>
{% endblock %}
