{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}
{% block breadcrumbs %} 
{% trans_default_domain 'menu' %}
<ul>
    <li><a href="/{{ app.request.locale }}">{{ 'Home'|trans }}</a> </li>
    <li><a href="{{ path("fos_user_profile_edit") }}">{{ 'sylius.frontend.menu.account.profile'|trans }}</a> </li>
</ul>

{% endblock %}
{% block content %}
<h3>{{ 'sylius.form.frontend.profile.title'|trans }}</h3>
{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <fieldset>
        {{ form_widget(form) }}
    </fieldset>
    {{ form_rest(form) }}
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
</form>
{% endblock content %}
